@{
    ViewData["Title"] = "Прием";
}

<div class="grid_18">
      <h2>Прием / График
      </h2>
            <div>
                <p><strong>СТЪПКИТЕ ПО ПЪТЯ ТИ СЛЕД 7 КЛАС КЪМ НАС </strong></p>

<p><strong><span style="background-color:#FFD700">Стъпка 1 </span></strong></p>

<p>На 17 юни 2019 г. имаш тест по български<br>
език и литература в твоето училище.</p>

<p><strong><span style="background-color:#FFD700">Стъпка 2 </span></strong></p>

<p>На 19 юни 2019 г. имаш тест по математи-<br>
ка в твоето училище.</p>

<p><strong><span style="background-color:#FFD700">Стъпка 3 </span></strong></p>

<p>До 27 юни:<br>
- научаваш в твоето училище или на сайта<br>
<a href="https://web.archive.org/web/20190908235926/http://7klas.mon.bg/">http://7klas.mon.bg/</a> резултатите си;<br>
- изчисляваш своя бал в точки с удвоените<br>
оценки от тестовете по БЕЛ и математика<br>
плюс оценките по тези предмети от 7. клас,<br>
преобразувани в точки;</p>

<p><strong><span style="background-color:#FFD700">Стъпка 4 </span></strong></p>

<p>До 3 юли 2019 г. от твоето училище получа-<br>
ваш своето свидетелство за завършено<br>
основно образование.</p>

<p><strong><span style="background-color:#FFD700">Стъпка 5 </span></strong></p>

<p>От 3 до 5 юли 2019 г. подаваш заявление<br>
до началника на РУО за първо класиране, в<br>
което изписваш в желаната последовател-<br>
ност паралелките на нашето училище.</p>

<p><strong><span style="background-color:#FFD700">Стъпка 6 </span></strong></p>

<p>До 11 юли 2019 г. научаваш дали си приет<br>
на първо класиране от сайта<br>
<a href="https://web.archive.org/web/20190908235926/http://7klas.mon.bg/">http://7klas.mon.bg/</a></p>

<p><strong><span style="background-color:#FFD700">Стъпка 7 </span></strong></p>

<p>До 16 юли 2019 г. се записваш при нас с<br>
оригинал на свидетелството за основно<br>
образование и заявление до директора по<br>
наш образец или подаваш заявление за<br>
второ класиране.</p>

<p><strong>Така и нашето училище ще стане и твое!</strong></p>

        <div>
            <span class="st_sharethis_large" displaytext="ShareThis"></span>
            <span class="st_facebook_large" displaytext="Facebook"></span>
            <span class="st_twitter_large" displaytext="Tweet"></span>
            <span class="st_linkedin_large" displaytext="LinkedIn"></span>
            <span class="st_pinterest_large" displaytext="Pinterest"></span>
            <span class="st_email_large" displaytext="Email"></span>
        </div>
              </div>
            </div>