@{
    ViewData["Title"] = "Химн на ЕГ";
}

<div class="grid_18">
      <h2>Химн на ЕГ </h2>
            <div>
                <p><span style="font-size:16px">Богоровци, сърцата ни туптят</span></p>

<p><span style="font-size:16px">с любов и плам път нов да сътворят</span></p>

<p><span style="font-size:16px">в света широк да стигнем върхове,&nbsp;</span></p>

<p><span style="font-size:16px">но и дома да не забравяме.</span></p>

<p>&nbsp;</p>

<p><span style="font-size:16px">С порив устремен летим</span></p>

<p><span style="font-size:16px">със достойнство, ум и чест.</span></p>

<p><span style="font-size:16px">Заедно ще победим!</span></p>

<p><span style="font-size:16px">Злото с красота ще спрем.</span></p>

<p><span style="font-size:16px">Знаем, можем и творим.&nbsp;</span></p>

<p><span style="font-size:16px">Всички сме приятели!</span></p>

<p>&nbsp;</p>

<p><span style="font-size:16px">Тъй силни, смели, истински, добри</span></p>

<p><span style="font-size:16px">във утре вярваме и в себе си.</span></p>

<p><span style="font-size:16px">Със дух крилат и с бисерни мечти</span></p>

<p><span style="font-size:16px">оставяме във времето следи.</span></p>

<p style="text-align:right"><span style="font-size:14px"><strong>Текст и музика: Пламена Славова </strong></span></p>

<p style="text-align:right"><span style="font-size:14px"><strong>/ученичка на ЕГ "Д-р Иван Богоров" - </strong></span></p>

<p style="text-align:right"><span style="font-size:14px"><strong>Випуск 2008/</strong></span></p>

        <br>
        
                <div>
            <span class="st_sharethis_large" displaytext="ShareThis" st_processed="yes"><span style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;" class="stButton"><span class="stLarge" style="background-image: url(&quot;https://web.archive.org/web/20160828081746/http://w.sharethis.com/images/sharethis_32.png&quot;);"></span></span></span>
            <span class="st_facebook_large" displaytext="Facebook" st_processed="yes"><span style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;" class="stButton"><span class="stLarge" style="background-image: url(&quot;https://web.archive.org/web/20160828081746/http://w.sharethis.com/images/facebook_32.png&quot;);"></span></span></span>
            <span class="st_twitter_large" displaytext="Tweet" st_processed="yes"><span style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;" class="stButton"><span class="stLarge" style="background-image: url(&quot;https://web.archive.org/web/20160828081746/http://w.sharethis.com/images/twitter_32.png&quot;);"></span></span></span>
            <span class="st_linkedin_large" displaytext="LinkedIn" st_processed="yes"><span style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;" class="stButton"><span class="stLarge" style="background-image: url(&quot;https://web.archive.org/web/20160828081746/http://w.sharethis.com/images/linkedin_32.png&quot;);"></span></span></span>
            <span class="st_pinterest_large" displaytext="Pinterest" st_processed="yes"><span style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;" class="stButton"><span class="stLarge" style="background-image: url(&quot;https://web.archive.org/web/20160828081746/http://w.sharethis.com/images/pinterest_32.png&quot;);"></span></span></span>
            <span class="st_email_large" displaytext="Email" st_processed="yes"><span style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;" class="stButton"><span class="stLarge" style="background-image: url(&quot;https://web.archive.org/web/20160828081746/http://w.sharethis.com/images/email_32.png&quot;);"></span></span></span>
        </div>
            </div>
    </div>