@{
    ViewData["Title"] = "Контакти";
}
<h2>За контакти с нас</h2>

<p>ПЕГ "Д-р Иван Богоров "/ Dr. Ivan Bogorov Foreign Language High School</p>

<p><span class="boldText">Адрес/ Аddress:</span></p>

<p>бул. Христо Ботев 45 / Hristo Botev,Bul. 45</p>

<p>гр. Димитровград/ Dimitrovgrad</p>

<p><span class="boldText">тел./ tel:</span> 0391/ 2 55 25</p>

<p><span class="boldText">факс/ fax:</span> 0391/ 2 55 25</p>

<p><span class="boldText">e- mail:</span> krasikrastev@abv.bg</p>

<p><span class="boldText">website:</span> www.eg-dg-bg.com</p>
