@{
    ViewData["Title"] = "Документи";
}
<div class="grid_18">
      <h2>Правилник за дейността на училището </h2>
            <div>
                <p style="text-align:center"><strong><u>ПРАВИЛНИК&nbsp;</u><u>ЗА ДЕЙНОСТТА&nbsp;</u><u>НА ЕГ “Д-р ИВАН БОГОРОВ”&nbsp;</u><u>ДИМИТРОВГРАД</u></strong></p>

<p style="text-align:center"><strong>&nbsp;</strong></p>

<p>Настоящият Правилник е изработен въз основа на Конституцията на Р.България, ЗНП и други нормативни документи, в изпълнение на параграф 8 от преходните и заключителни разпоредби на ППЗНП и подлежи на промяна съобразно излизащите нови нормативни документи. Изпълнението на разпоредбите на Правилника, дейността на училището са съобразени с целите, принципите и духа на националната образователна политика, а именно:</p>

<ul>
	<li>Училищното обучение до 16 годишна възраст е задължително;</li>
	<li>Съчетаване на ДОИ на съответните учебни програми с възможностите за профилирано обучение.</li>
</ul>

<h2>&nbsp;</h2>

<h2>ГЛАВА ПЪРВА</h2>

<p><strong>РАЗДЕЛ І</strong></p>

<p><strong><u>Общи положения</u></strong></p>

<p><strong>Чл.1 (1)</strong> Езикова гимназия "Д-р Иван Богоров" е общинска профилирана гимназия. В училището се обучават ученици от VІІІ до ХІІ клас.</p>

<p><strong>(2)</strong> В Езикова гимназия Димитровград се придобива средно образование и квалификация по утвърден от МОН профил - "Чуждоезиков".</p>

<p><strong>(3)</strong>&nbsp; Учебния план за всеки профил се утвърждава от Началника на РИО - гр. Хасково по предложение на Директора разработено въз основа на&nbsp; решение на Педагогическия съвет.</p>

<p><strong>&nbsp;(4)</strong>&nbsp; Държавният план-прием се утвърждава до 30 март със заповед на Началника на РИО - гр.Хасково.</p>

<p><strong>(5)&nbsp; </strong>Утвърденият държавен план-прием за областта по училища се обявява в РИО и в училищата до 15 април.</p>

<p><strong>РАЗДЕЛ ІІ</strong></p>

<p><strong><u>Прием и преместване на ученици</u></strong></p>

<p><strong>Чл.2</strong> За обучение се приемат:</p>

<p><strong>(1)</strong>&nbsp; В осми клас се приемат ученици по условия и ред определен с Наредба на Министъра на образованието и науката за профилираните училища, издадена от МОН за всяка учебна година - за учебната 2013/2014 Наредба №11/28.03.2005г.</p>

<p><strong>(2)</strong>&nbsp; Във всички останали класове - ученици, представили необходимите документи.</p>

<p><strong>Чл.3 (1)</strong> Приемът на ученици и преместването им става през време на цялата учебна година но не по-късно от 30 уч. дни преди приключването на ІІ уч. срок.</p>

<p><strong>(2) </strong>&nbsp;Приемът на ученици в осми и девети клас&nbsp; става само при наличие на:</p>

<ul>
	<li>свободни места;</li>
	<li>съответствие в профилите.</li>
</ul>

<p><strong>(3)</strong> Приемът на ученици от десети до дванадесети клас&nbsp; преместването им става след успешно завършен клас или уч. срок;</p>

<p><strong>(4) </strong>Свободните места се обявяват от директора в тридневен срок от освобождаването им в училището и в регионалния инспекторат по образованието.</p>

<p><strong>Чл.4</strong> Учениците могат да се преместват в паралелка на училището или в друго училище над утвърдения държавен прием:</p>

<p><strong>(а)</strong> по социални или здравословни причини.</p>

<p><strong>(б)</strong> при смяна на местоживеенето, поради смяна на местоработата на родител или настойник.</p>

<p><strong>(в)</strong> по т.<strong>(а) </strong>ученикът се премества със Заповед на Директора въз основа на представени документи, удостоверяващи обстоятелствата</p>

<p><strong>&nbsp;Чл.5</strong> При прием се изисква - удостоверение за завършен клас или удостоверение за преместване.</p>

<p><strong>Чл.6</strong> При преместване на ученици се оформят:</p>

<ul>
	<li>удостоверение за преместване;</li>
	<li>удостоверение за завършен клас (ученическа книжка);</li>
</ul>

<p><strong>Чл.7</strong> Информацията за приема и преместването на учениците се отразява в училищната документация (дневник, картон, книга за подлежащи на задължително обучение ученици, главна книга). При преместване Директорът на училището, в което ученикът се е обучавал, изпраща копие от личния картон на ученика в приемащото училище в 14 дневен срок.</p>

<p><strong>Чл.8</strong> Учениците не могат да се преместват:</p>

<p><strong>(а)</strong> в последния гимназиален клас при смяна на: непрофилирана гимназиална паралелка с профилирана, профил с друг профил, професия с профил.</p>

<p><strong>(б)</strong> в последните два гимназиални класа при смяна на: профил с професия, непроф. гимназиална паралелка с професия.</p>

<p>&nbsp;</p>

<p><strong>ГЛАВА ВТОРА:&nbsp;</strong><strong>ОРГАНИЗАЦИЯ НА УЧИЛИЩНОТО ОБУЧЕНИЕ</strong></p>

<p><strong>РАЗДЕЛ І</strong></p>

<h3><strong>Форми на обучение</strong></h3>

<p><strong>Чл.9</strong>&nbsp; В Езикова гимназия учебно-възпитателният процес&nbsp; се организира в:</p>

<ul>
	<li>&nbsp;Дневна форма с 5 годишен срок на обучение след завършен 7-ми клас;</li>
	<li>Самостоятелна форма на обучение;</li>
	<li>Индивидуална форма на обучение.</li>
</ul>

<p><strong>Чл.10</strong> Дневната форма е присъствена форма в рамките на установения учебен ден.</p>

<p><strong>Чл.11(1) </strong>Самостоятелна форма на обучение е неприсъствена форма на обучение, при която учениците се подготвят самостоятелно и се явяват на изпити по учебни предмети съгласно училищния учебен план.</p>

<p><strong>(2)</strong>&nbsp; Самостоятелна форма на обучение се организира:</p>

<ul>
	<li>За ученици в задължителна училищна възраст, които по здравословни причини не могат да се обучават в дневна форма;</li>
	<li>Лица навършили 16 год. възраст.</li>
</ul>

<ol>
	<li>Условията и редът за организиране и провеждане на изпитите се определя със заповед на Директора.</li>
</ol>

<p><strong>Чл.12 (1)&nbsp; </strong>Индивидуалната форма на обучение включва учебни занятия, както и изпити или текущи проверки по учебни предмети, ако това е предвидено с индивидуалния учебен план, утвърден от Директора на училището.</p>

<p style="margin-left:35.45pt"><strong>(2) </strong>Индивидуалната форма на обучение се организира за:</p>

<p>1. ученици, които по здравословни причини не могат да посещават училището повече от 30 последователни учебни дни;</p>

<p>2. за даровити ученици, както и за ученици, които по семейни причини желаят да завършат в други срокове обучението си за един или повече класове.</p>

<p><strong>(3) </strong>В случаите по ал. 2, т. 1 училището организира индивидуалното обучение в домашни условия въз основа на медицински документ, издаден от лекарска консултативна комисия, като осигурява от 8 до 12 учебни часа седмично.</p>

<p><strong>(4</strong>) Знанията и уменията на учениците по ал. 2, т. 1 се оценяват чрез текущи проверки, а на учениците по ал. 2, т. 2 - чрез изпити.</p>

<p><strong>(5) </strong>Условията и редът за организиране и провеждане на изпитите се определят със заповед на директора на училището.</p>

<p><strong>Чл.13 (1)</strong>&nbsp; Ученици, които се обучават в самостоятелна и индивидуална форма на обучение и желаят да променят формата на обучението си, подават писмено заявление до&nbsp; директора в началото на учебната година.</p>

<p><strong>(2)</strong>&nbsp; Промяната на формата на обучение от дневна в самостоятелна и индивидуална форма се допуска в началото на учебната година и по време на учебните занятия.</p>

<p><strong>(3)</strong>&nbsp; За промяна формата на обучение директорът издава заповед.</p>

<p><strong>РАЗДЕЛ ІІ</strong></p>

<p><strong><u>Организационни форми</u></strong></p>

<p><strong>Чл.14 (1)</strong> Училищното обучение се организира в последователни класове.</p>

<ol>
	<li>&nbsp; Продължителността на обучението в един клас е една учебна година.</li>
</ol>

<p><strong>Чл.15 (1)</strong> В зависимост от броя на приетите ученици класовете се разделят на паралелки.</p>

<ol>
	<li>&nbsp; Класовете се номерират във възходящ ред с римски цифри. Паралелките от един клас се означават с началните букви от българската азбука</li>
	<li>В зависимост от особеностите на учебния предмет може да се дели на групи или да се организират сборни групи от различни паралелки по ред определен с наредба на МОН.</li>
	<li>Училището може да организира сборни групи за свободноизбираема подготовка или за дейности, свързани с развитието на интересите, способностите и потребностите на учениците в областта на спорта, науката, техниката, технологиите, изкуствата и отдиха. Групите могат да се формират от ученици от различни класове и от ученици от други училища.</li>
</ol>

<p><strong>Чл.16</strong> Разпределението на учениците по паралелки и групи се извършва от Директора и Пом. дир. УД и е окончателно. Новите паралелки по списъчен състав се обявяват до 13.09.2012г.</p>

<p><strong>Чл.17</strong> В началото на учебната година директорът определя със заповед класните ръководители на всички паралелки. Класният ръководител организира и провежда часа на класа, извънкласните дейности с учениците и води задължителната училищна документация за съответната паралелка.</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p><strong>РАЗДЕЛ ІІІ</strong></p>

<h5><span style="font-size:14px"><strong><u>Учебно време</u></strong></span></h5>

<p><strong>Чл.18</strong> Училищното обучение се организира в учебни години, учебни срокове, учебни седмици,учебни дни и учебни часове.</p>

<p><strong>Чл.19</strong> Продължителността на учебната година е 12 месеца. Учебната година започва на 15 септември (В случай че денят е почивен, учебната година започва на първия следващ работен ден).</p>

<p><strong>Чл. 20</strong> Учебните срокове, ваканциите и учебния час се определят за всеки клас с учебния план на МОН и заповед на министъра:</p>

<ul>
	<li>&nbsp;За 8,9,10,11 клас – 36 учебни седмици;</li>
	<li>&nbsp;За 12 клас - 31 учебни седмици;</li>
	<li>За учебната 2013/2014- Заповед от 2013г. на министъра на МОН.</li>
</ul>

<p><strong>Чл. 21</strong> <strong>(1) </strong>Учебни дни може да се определят за неучебни или неучебни дни за учебни със заповед на министъра на образованието, младежта и науката.</p>

<p><strong>(2) </strong>В случай на разместване на почивните дни през годината на основание чл. 154, ал. 2 от Кодекса на труда обявените почивни дни са неучебни за учениците, съответно обявените работни дни са учебни дни, освен когато учениците са във ваканция.</p>

<p><strong>(3) </strong>Кметът на общината след съгласуване с Началника на Регионалния инспекторат по образованието може да обявява до три дни за неучебни за училищата на територията на общината в случай на извънредни или непредвидени обстоятелства, както и за отбелязване на празника на общината.</p>

<p><strong>(4) </strong>В случаите по ал. 1, 2 и 3 след възстановяване на учебния процес и при необходимост Началникът на Регионалния инспекторат по образованието създава организация за преструктуриране на тематичното разпределение на учебното съдържание.</p>

<p><strong>Чл.22&nbsp; (1)</strong> Организацията на учебния ден е полудневна.</p>

<ol>
	<li>Броят на задължителните учебни часове за една учебна седмица не може да бъде повече от 30 учебни часа за осми клас и 32 учебни часа за учениците от девети до дванадесети клас.</li>
	<li>Учебните занятия се провеждат съобразно утвърдената със заповед на директора седмична програма за периода (срока).</li>
	<li>Часът на класа се включва&nbsp; в седмичното разписание на учебните занятия извън броя на задължителните учебни часове.</li>
	<li>Продължителността на един учебен час е 45 минути.</li>
	<li>Почивките между учебните часове са по 10 мин. , а след трети час –25 мин.</li>
	<li>Учебният ден започва: сутрин от 8<sup>00--</sup> часа до 14<sup>30</sup> часа.</li>
	<li>Седмичното разписание на учебните занятия е съобразено с психо-физически особености и възможности на учениците и се утвърждава от Директора.</li>
</ol>

<p>&nbsp;</p>

<p><strong>РАЗДЕЛ ІV</strong></p>

<p><strong><u>Съдържание на училищното обучение</u></strong></p>

<p><strong>Чл.23 </strong>Учебното съдържание в училищното обучение в Езикова гимназия се групира в общообразователна профилирана подготовка.</p>

<p><strong>Чл.24</strong> <strong>(1) </strong>Общообразователната профилирана подготовка е задължителна и свободно избираема и се осъществява чрез учебни предмети групирани в културно-образователни области, както и в други области и дейности.</p>

<p><strong>(2)</strong> Задължителната подготовка осигурява постигането на общообразователен минимум съобразно изискванията на профилираното обучение и степента на образование.</p>

<p><strong>(3) </strong>Задължително-избираемата подготовка осигурява знания и умения на по-високо равнище по учебните предмети от културно-образователните области в съответствие с интересите и индивидуалните възможности на учениците и с възможностите на училището.</p>

<p><strong>(4) </strong>Профилираната подготовка осигурява усвояването на знания и умения на по-високо равнище по група учебни предмети от културно-образователните области. Профилираната подготовка започва от IX клас или от X клас и продължава до XII клас съгласно училищния учебен план.</p>

<p><strong>(5)</strong> 1. Свободно-избираемата подготовка осигурява обучение, освен по предмети от културно-образователните области и по други области и дейности, предложени на учениците по избор, и се провежда извън задължителните учебни часове. Занятията се провеждат с групи - при спазване на изискванията на нормативните документи. Чрез СИП се задоволяват специфичните индивидуални потребности и интереси на ученика - според желанията и възможностите на училището. Заявленията за СИП се подават в срок, регламентиран чрез нормативните документи.</p>

<p>2. По учебен предмет изучаван в СИП, се оформят самостоятелни срочни и годишни оценки, на базата на текущи оценки. Те не влияят при оформяне на срочни и годишни оценки по същия ОЗП. При слаба оценка по СИП изпит не се държи.</p>

<p><strong>РАЗДЕЛ V</strong></p>

<h6><span style="font-size:14px"><strong><u>Форми на проверка и оценка</u></strong></span></h6>

<p><strong>Чл.25 (1)</strong> Знанията и уменията на учениците се проверяват и оценяват чрез&nbsp; периодични проверки&nbsp; и&nbsp; изпити.</p>

<ol>
	<li>Формите за проверка и оценка са устни, писмени и практически форми на контрол.</li>
</ol>

<p><strong>Чл.26 (1)</strong> Периодичните проверки се осъществяват от учителите ритмично през І и ІІ учебен срок.</p>

<ol>
	<li>Контролните и класните работи&nbsp; се осъществяват от учителите по график, утвърден от директора на училището в началото на всеки срок.</li>
	<li>Знанията и уменията на учениците могат да се проверяват от упълномощени длъжностни лица и от Регионалните инспекторати по образование и от МОН.</li>
	<li>Проверката и оценката на знанията и уменията на учениците чрез изпити се осъществява от училищни изпитни комисии , назначени със заповед на директора.</li>
	<li>Текущите, срочните и годишните оценки се вписват в ученическата книжка и в дневника на класа и в личния картон на ученика.</li>
	<li>Оценките от изпитите се вписват в съответни изпитни протоколи и в личния картон на ученика.</li>
	<li>Учениците имат право еднократно да се явяват на не повече от три изпита за промяна на оценката по учебни предмети след приключване на учебните занятия за последен клас от съответната степен на образование.</li>
	<li>Учениците имат право да се явяват на приравнителни изпити по съответния втори чужд език при спазване на изискванията на съответните нормативни документи.</li>
</ol>

<p><strong>РАЗДЕЛ VІ</strong></p>

<p><strong><u>Завършване на клас</u></strong></p>

<p><strong>Чл. 27. (1) </strong>Ученикът завършва класа, ако по учебните предмети от задължителната, задължително-избираемата или профилираната подготовка има годишна оценка най-малко среден (3).</p>

<p><strong>(2) </strong>Ученици, които имат годишна оценка слаб (2) по учебни предмети от задължителната, задължително-избираемата или профилираната подготовка, полагат поправителни изпити по тях, но на не повече от две редовни поправителни сесии през учебната година.</p>

<p><strong>(3) </strong>Ученици, които по здравословни причини, удостоверени с медицински документ, не са се явили на поправителни изпити в сесиите по ал. 2, могат да се явят на допълнителна поправителна сесия по ред, определен със заповед на Директора на училището, но не по-късно от 10 октомври.</p>

<p><strong>(4) </strong>Ученици, които имат оценка слаб (2) по учебен предмет от задължителната, задължително-избираемата или профилираната подготовка на редовните и/или на допълнителната поправителни сесии или не са се явили на поправителните изпити, повтарят класа.</p>

<p><strong>(5) </strong>Ученици, които се обучават в индивидуална и самостоятелна форма на обучение, при повтарянето на класа се явяват на изпити само по учебните предмети, по които имат оценка слаб (2) или не са се явили на поправителните изпити.</p>

<p><strong>(6</strong>) Учениците от последния гимназиален клас, които имат оценка слаб (2) по учебни предмети от задължителната, задължително-избираемата или профилираната подготовка на редовните и/или на допълнителната поправителни сесии или не са се явили на поправителни изпити, не повтарят класа. Те могат да се явяват на поправителните изпити в януарска поправителна сесия и в сесиите по ал. 2.</p>

<p><strong>(7) </strong>Ученици със специални образователни потребности, които не са усвоили общообразователния минимум за клас, етап или степен на образование по обективни причини, не повтарят класа.</p>

<p><strong>(8) </strong>За ученици със специални образователни потребности, които не усвояват държавните образователни изисквания за учебно съдържание по обективни причини, екипът в училището разработва индивидуална образователна програма по един или повече учебни предмети от учебния план, по който работи училището.</p>

<p><strong>Чл. 28.</strong> За ученици, застрашени от отпадане, училището с помощта на регионалните инспекторати по образованието и съвместно с общината, училищните настоятелства и други органи и организации създава допълнителни образователни възможности, като организира и провежда:</p>

<p>1. индивидуални програми за психолого-педагогическо въздействие на ученика;</p>

<p>2. допълнителна работа с учениците по време на учебните занятия и през ваканциите;</p>

<p>3. извънкласни и извънучилищни дейности, съобразени с образователните потребности и с интересите на ученика;</p>

<p>4. консултации и насочване към професионално обучение съобразно възрастта и интересите на ученика.</p>

<p>&nbsp;<strong>РАЗДЕЛ VІІ</strong></p>

<p><strong><u>Документи за завършен клас и степен на образование</u></strong></p>

<p><strong>Чл.29&nbsp; </strong>На ученици, навършили 16 год., които напускат училището, се издава удостоверение за завършен клас, в което се вписват годишните оценки по учебни предмети, определени с учебния план.</p>

<p><strong>Чл.30</strong> Учениците&nbsp; завършили успешно 9 клас в гимназията получават свидетелство за завършено основно образование, в което се вписват годишни оценки, определени с учебния план, по който се обучават учениците и при спазване на изискванията на действащите към момента нормативни документи.</p>

<p><strong>Чл.31 (1)</strong> Учениците, завършили 12-ти клас полагат държавни зрелостни изпити, които се организират съгласно актуални държавни образователни изисквания за системата за оценяване и получават диплом за завършено средно образование, в която се вписва изучавания профил.</p>

<ol>
	<li>Ученици, завършили обучението си в предшестващи години, които ще полагат зрелостни изпити, заплащат по тарифи за педагогически услуги.</li>
</ol>

<p><strong>Чл.32 (1)</strong> В дипломата за завършено средно образование се вписват броят на учебните часове по изучаваните учебни предмети, оценките по учебните предмети от задължителната, задължително-избираемата или профилираната подготовка, както и по свободноизбираемата подготовка, определени с учебния план. В дипломата се вписват и оценките от държавните зрелостни изпити.</p>

<p><strong>(2)</strong> В удостоверението за завършено средно образование се вписват броят на учебните часове по изучаваните учебни предмети, оценките по учебните предмети от задължителната, задължително-избираемата или профилираната подготовка, както и по свободноизбираемата подготовка, определени с учебния план на училището.</p>

<p><strong>Чл.33</strong>&nbsp; Документите, удостоверяващи завършен клас или степен на образование са по образец, утвърден от МОН. Те се попълват на компютър или пишеща машина, а в непопълнените редове се отпечатват тирета .</p>

<p><strong>Чл.34 (1)</strong> Дубликат на удостоверение за завършен клас, свидетелство за основно образование и диплома за завършено средно образование се издава от Директора на училището, издало оригиналния документ.</p>

<ol>
	<li>Дубликат се издава по молба на заинтересованите лица в случай, че оригиналният документ е изгубен, унищожен или станал негоден за ползване.</li>
</ol>

<ol>
	<li>Дубликат се издава по образец съгласно държавното образователно изискване за документ в системата на образованието.</li>
	<li>За издаване на дубликат се заплаща такса, определена със заповед на министъра (съгласно чл.65 ал.2 от ППЗНП).</li>
</ol>

<p><strong>ГЛАВА ТРЕТА:&nbsp;</strong><strong>УЧАСТНИЦИ В УЧИЛИЩНОТО ОБУЧЕНИЕ</strong></p>

<p><strong>РАЗДЕЛ І</strong></p>

<p><strong><u>Учители </u></strong></p>

<p><strong>Чл. 35.</strong>&nbsp; Учителят в училището организира и провежда образователно-възпитателния процес по учебния предмет, проверява и оценява знанията и уменията на учениците, съдейства за пълноценното им интегриране в училищната и социалната среда.</p>

<p><strong>Чл. 36. (1)</strong> Учителските длъжности са (от 1 октомври 2009 г.):</p>

<p>1. "младши учител";</p>

<p>2. "учител";</p>

<p>3. "старши учител";</p>

<p>4. "главен учител";</p>

<p>5. ( от 1 януари 2010 г.) "учител методик".</p>

<p><strong>(2)</strong> (от 1 октомври 2009 г.) Длъжностите по ал. 1, т. 1, 2 и 3 се заемат от лица с придобито висше образование на образователно-квалификационна степен "бакалавър" или "магистър", а длъжностите по ал. 1, т. 4 и 5 - с висше образование на образователно-квалификационна степен "магистър".</p>

<p><strong>(3)</strong> (от 1 октомври 2009 г.) Учителските длъжности по ал. 1 по учебни предмети или модули от професионалната подготовка, както и по учебни предмети или модули по изкуствата в училищата по изкуствата и в профилираните паралелки по изкуства, може да се заема и от лица с диплома за завършена степен на висшето образование по съответна специалност.</p>

<p><strong>&nbsp;(4)</strong> (от 1 октомври 2009 г.) Условията и редът за заемането на длъжностите по ал. 1 и 4 се определят съгласно държавното образователно изискване за учителската правоспособност и квалификация.</p>

<p><strong>(5)</strong> (от 1 октомври 2009 г.) Условията и редът за заемането на други длъжности в системата на народната просвета, свързани с възпитателната, с образователно-възпитателната, с диагностичната, корекционната и рехабилитационната дейност с ученици, се определят съгласно държавните образователни изисквания за училищното възпитание и подготовка, за придобиването на квалификация по професии, за обучението на ученици с хронични заболявания и/или специфични образователни потребности и за извънкласната и извънучилищната дейност.</p>

<p><strong>(6)</strong> Директорът на училището в рамките на делегирания бюджет, съответно на утвърдените му разходи, и/или за сметка на целево предоставени средства диференцира възнагражденията на учителите в зависимост от длъжностите по ал. 1, при условие че не са налице ограничения за увеличаване на разходите за работни заплати в бюджетните организации.</p>

<p><strong>Чл. 37.</strong> (от 1 октомври 2009 г.) Длъжностите по чл. 36, ал. 1, 4 и 6 не могат да се заемат от лица, които:</p>

<p>1. са осъдени на лишаване от свобода с влязла в сила присъда за умишлено престъпление;</p>

<p>2. са лишени от право да упражняват професията си;</p>

<p>3. страдат от заболявания и отклонения, които застрашават живота или здравето на децата и учениците, определени с наредба на министъра на образованието и науката, съгласувана с министъра на здравеопазването.</p>

<p><strong>Чл. 38. (1)</strong> Обществеността, административните органи и учениците изразяват почит и уважение към учителите.</p>

<p><strong>(2)</strong> Административните органи и обществеността оказват помощ и съдействие на учителите за провеждане на ефективна възпитателна и образователна дейност.</p>

<p><strong>(3)</strong> Учители, постигнали високи резултати при възпитанието и обучението на децата и учениците, се поощряват с грамоти и с други награди, а дейността им се популяризира и получава обществено признание.</p>

<p><strong>Чл. 39.</strong> Учителят има следните права:</p>

<p>1. свободно да определя методите и средствата за провеждане на образователно-възпитателния процес, като активно използва интерактивни методи на преподаване и възможностите на информационните и комуникационните технологии;</p>

<p>2. да участва в класирането на проектите на учебници по съответния учебен предмет и при избора на учебник, по който ще се провежда обучението;</p>

<p>3. да получава информация по въпроси, свързани с изпълнение на служебните му задължения, както и за възможностите за повишаване на професионалната му квалификация;</p>

<p>4. да повишава образованието и професионалната си квалификация;</p>

<p>5. да дава мнения и да прави предложения за развитие на училището, детската градина и обслужващото звено;</p>

<p>6. да използва училищната материално-техническа база за изпълнение на служебните си задължения.</p>

<p><strong>Чл. 40.</strong> <strong>(1)</strong> Учителят има следните задължения:</p>

<p>1. да изпълнява нормата за задължителна преподавателска работа и другите задължения, включени в длъжностната му характеристика;</p>

<p>2. да преподава учебния предмет на книжовния български език, с изключение на учебните предмети "чужд език" и "майчин език", както и на учебните предмети на чужд език, да общува с децата или учениците на книжовен български език и да ги подпомага да усвояват книжовно езиковите норми;</p>

<p>3. да уведомява своевременно Директора, когато се налага да отсъства от учебни часове, за осигуряване на заместник с оглед недопускане на свободни часове;</p>

<p>4. да участва в работата на педагогическия съвет и да изпълнява неговите решения;</p>

<p>5. да изпълнява предписанията и препоръките на органите, осъществяващи методическа дейност и контрол в системата на народната просвета;</p>

<p>6. да опазва живота и здравето на децата или учениците по време на образователно-възпитателния процес и на други дейности, организирани от училището;</p>

<p>7. да поддържа и повишава професионалната си квалификация;</p>

<p>8. да информира писмено и на индивидуални срещи родителите за успеха и развитието на детето или ученика, за спазването на училищната дисциплина, както и за уменията му за общуване и интегриране в училищната среда, да ги насочва към форми за допълнителна работа с оглед възможностите, потребностите и желанията на детето или ученика при зачитане на тяхното право да вземат решения;</p>

<p>9. да не ползва мобилен телефон по време на час;</p>

<p>10. да не пуши, да не внася и да не употребява алкохол в училището, както и извън тях - при провеждане на мероприятия и дейности, в които участват деца или ученици;</p>

<p>11. да се явява на работа с облекло и във вид, които съответстват на положението му на учител и на добрите нрави;</p>

<p>12. да не внася в училището оръжие, както и други предмети, които са източник на повишена опасност.</p>

<p><strong>(2)</strong> Индивидуалните срещи с родителите се провеждат в приемното време на учителя или в друго удобно за двете страни време.</p>

<p><strong>(3)</strong> По ал. 1, т. 11. се определят следните изисквания за облекло. През учебно време не се допускат:</p>

<p>1. За жени – много къси поли, дълбоки деколтета и прозрачни материи.</p>

<p>2. За мъже – къси панталони, спортно облекло (с изключение на учителите по ФВС)</p>

<p><strong>Чл. 41.</strong> Учителят не може да нарушава правата на ученика, да унижава личното му достойнство, да прилага форми на физическо и психическо насилие върху него.</p>

<p><strong>Чл. 42а. (1)</strong> &nbsp;Учителите нямат право да предоставят образователни услуги срещу заплащане при наличие на конфликт на интереси.</p>

<p><strong>(2)</strong> Учители и други лица, които участват при изготвянето на темите или задачите за приемните и за държавните зрелостни изпити, както и при оценяването на тези изпити, не могат да извършват образователни услуги на ученици във връзка с подготовка за кандидатстване или полагане на държавните зрелостни изпити.</p>

<p><strong>Чл. 42б. (1)</strong> <strong>Учител, който е и класен ръководител, има следните допълнителни задължения:</strong></p>

<p>1. да следи за успеха и развитието на учениците от съответната паралелка в образователно-възпитателния процес, за спазването на училищната дисциплина, както и за уменията им за общуване с учениците и учителите и интегрирането им в училищната среда, като периодично и своевременно информира родителите;</p>

<p>2. да анализира и оценява рисковите фактори върху учениците от паралелката и да предприема превантивни и корективни мерки за справяне с тях;</p>

<p>3. да контролира посещаемостта на учебните часове от учениците от паралелката;</p>

<p>4. своевременно да уведомява родителите, ако ученикът отсъства от учебни часове, както и когато спрямо него ще започне процедура за налагане на наказание или други мерки по този правилник;</p>

<p>5. да консултира родителите за възможностите и формите за допълнителна работа с ученика с оглед максимално развитие на заложбите му, както и за възможностите за оказване на педагогическа и психологическа подкрепа от специалист, когато това се налага;</p>

<p>6. да изготвя и да предоставя на родителя характеристика за всеки ученик в съответствие с чл. 51 а;</p>

<p>7. да организира и да провежда родителски срещи;</p>

<p>8. периодично да организира индивидуални срещи с учениците от паралелката, да организира и провежда часа на класа и да работи за развитието на паралелката като общност;</p>

<p>9. да участва в процедурите за налагане на наказания и мерки по отношение на учениците от паралелката в случаите и по реда, предвидени в този правилник;</p>

<p>10. да осъществява връзка с учителите, които преподават на паралелката, и периодично да се информира за успеха и развитието на учениците от паралелката по съответния учебен предмет, за спазване на училищната дисциплина, за уменията им за общуване и интегриране в училищната среда;</p>

<p>11. да осъществява постоянна връзка с останалите класни ръководители с оглед усъвършенстване и намиране на нови форми за общуване с учениците и родителите;</p>

<p>12. да осъществява връзка и да подпомага специалистите, които работят с ученици от паралелката;</p>

<p>13. да води редовно и да съхранява учебната документация за паралелката.</p>

<p><strong>(2)</strong> По време на родителските срещи се обсъждат и се вземат решения по основни въпроси, свързани с развитието и възпитанието на учениците, включително с участието на специалисти. Класният ръководител не може да обсъжда публично въпроси, свързани с успеха и поведението на отделните ученици от паралелката.</p>

<p><strong>(3)</strong> На първата родителска среща за учебната година класният ръководител предоставя на родителите информация за графика на приемното време на учителите в училището.</p>

<p><strong>Чл. 43.</strong> Училището създава условия на учителите да повишават професионалната си квалификация в организирани форми на обучение и чрез самостоятелна подготовка.</p>

<p><strong>Чл. 44.</strong> Средствата за повишаване професионалната квалификация на учителите се осигуряват от държавния бюджет, ако се въвеждат нови или се променят съществуващите държавни образователни изисквания.</p>

<p><strong>РАЗДЕЛ ІІ</strong></p>

<p><strong><u>Ученици</u></strong></p>

<p><strong>Чл. 45. </strong>Учениците участват като партньори в училищното обучение и имат активна роля за постигане на целите на образователно-възпитателния процес.</p>

<p><strong>Чл. 46. </strong>Ученикът има следните права:</p>

<p>1. да избира училището, профила или професията и специалността от професията, както и учебните предмети, предвидени в училищния учебен план като избираеми, при спазване изискванията на нормативните актове;</p>

<p>2. да получава информация по въпроси, свързани с неговото обучение, относно правата и задълженията му в училище, правилата за вътрешния ред и училищната дисциплина - при постъпването му в училище, в началото на всеки учебен срок, както и при поискване;</p>

<p>3. да бъде консултиран във връзка с професионалното му ориентиране и развитие, да бъде насочван, стимулиран и подпомаган в съответствие с неговите потребности, желания и способности;</p>

<p>4. да се обучава и възпитава в здравословна и сигурна среда, както и да получава защита при накърняване на правата и достойнството му;</p>

<p>5. да се ползва от формите за насърчаване на равния достъп до образование при условия и по ред, определени в нормативен акт;</p>

<p>6. да ползва безплатно училищната материално-техническа база по ред, определен от директора на училището, в учебно и в неучебно време за развитие на интересите и способностите си;</p>

<p>7. да участва в извънкласни и извънучилищни дейности, в това число форми на ученическо самоуправление;</p>

<p>8. да бъде поощряван с морални и материални награди за високи постижения в учебната, извънкласната и извънучилищната дейност и за приноса си за развитието на училищната общност;</p>

<p>9. да дава мнения и предложения по отношение на организацията и провеждането на цялостната училищна дейност;</p>

<p>10. да участва, включително с присъствието на родител, при решаване на въпроси, засягащи негови права и интереси.</p>

<p><strong>Чл. 47. (1) </strong>Ученикът има следните задължения:</p>

<p>1. да съхранява авторитета на училището и да допринася за развитие на добрите му традиции;</p>

<p>2. да не отсъства от учебните часове без уважителна причина - за присъствените форми на обучение;</p>

<p>3. да се явява в училище с облекло и във вид, които съответстват на положението му на ученик и на добрите нрави;</p>

<p>4. да носи униформеното облекло или другите отличителни знаци на училището, когато такива са предвидени, във вида и с елементите, които са описани в този правилник;</p>

<p>5. да уважава и да не накърнява честта и достойнството на другите, както и да не прилага физическо и психическо насилие;</p>

<p>6. да не участва в хазартни игри, да не пуши, да не употребява наркотични вещества и алкохол;</p>

<p>7. да не ползва мобилен телефон и други технически и електронни средства по време на час без разрешение на учителя;</p>

<p>8. да не пречи на учителя при и по повод изпълнение на служебните му задължения, както и на съучениците си по време на учебните часове;</p>

<p>9. да не носи оръжие, както и други предмети, които са източник на повишена опасност;</p>

<p>10. да не бъде на обществени места без придружител в съответствие с изискванията на Закона за закрила на детето;</p>

<p>11. да опазва материално-техническата база и чистотата на територията на училището;</p>

<p>12. да носи ученическата си книжка в училище и да я представя при поискване на учителя или директора;</p>

<p>13. да носи ученическата си лична карта в училище и извън него.</p>

<p><strong>(2)</strong> По ал. 1, т. 3. и т. 4.</p>

<p>1. учениците се задължават да носят елементите на училищната униформа при въвеждането й.</p>

<p>2. При липса на униформа през учебно време не се допускат ученици:</p>

<p>- момичета с много къси поли и панталони, дълбоки деколтета, къси блузки и потници, прозрачни материи, облекло с неприлични надписи.</p>

<p>- момчета с много къси панталони, плажни чехли, потници, облекло с неприлични надписи.</p>

<p><strong>(4) </strong>Неизпълнението на задълженията, предвидени в този правилник и в ППЗНП, е нарушение на училищната дисциплина.</p>

<p><strong>Чл. 48. (1) </strong>Ученикът може да отсъства от училище по уважителни причини:</p>

<p>1. при представяне на медицинска бележка или документ от спортния клуб, в който членува;</p>

<p>2. до 3 дни в една учебна година с уведомление от родителя;</p>

<p>3. до 7 дни в една учебна година с разрешение на директора на училището въз основа на писмена молба от родителя.</p>

<p><strong>Чл. 49. (1) </strong>Отсъствие на ученик от учебен час без уважителни причини е неизвинено отсъствие.</p>

<p><strong>(2) </strong>Закъснения до 15 минути за три учебни часа без уважителни причини се считат за един учебен час неизвинено отсъствие.</p>

<p><strong>Чл. 49а. (1) </strong>За ученик, обучаван в дневна форма, чиито отсъствия не позволяват оформяне на срочна или годишна оценка по един или няколко учебни предмета от задължителната или от задължителноизбираемата подготовка, директорът на училището по предложение на педагогическия съвет определя със заповед условията и реда за оценяване знанията и уменията за завършване на учебния срок и/или учебната година.</p>

<p><strong>(2) </strong>В случаите по ал. 1 ученикът повтаря класа, когато в края на учебната година няма оформена оценка, без да са налице уважителни причини за това.</p>

<p><strong>(3) </strong>Броят на отсъствията по уважителна причина на учениците със специални образователни потребности не се отразява на формирането на срочна оценка.</p>

<p><strong>Чл. 50. (1) За </strong>допуснатите отсъствия по чл. 48 и 49 класният ръководител своевременно писмено уведомява родителя или настойника на ученика.</p>

<p><strong>(2) </strong>Броят на отсъствията на ученика по чл. 48 и 49 се отбелязва в дневника на класа и веднъж месечно се вписва в ученическата книжка.</p>

<p><strong>Чл. 51а. (1) </strong>В края на всяка учебна година класният ръководител изготвя характеристика за всеки ученик от паралелката, в която прави преценка за развитието на ученика в образователно-възпитателния процес и за спазването на училищната дисциплина. В характеристиката се посочват както положителните, така и отрицателните страни в развитието на ученика. Характеристиката се предоставя на родителя срещу подпис.</p>

<p><strong>(2) </strong>При завършване на основно и на средно образование класният ръководител изготвя цялостна характеристика за развитието на ученика. Характеристиката е неразделна част от свидетелството за основно образование, съответно от дипломата за средно образование.</p>

<p><strong>(3) </strong>Характеристика се изготвя и в случаите на преместване на ученици в друго училище.</p>

<p><strong>Чл. 52. (1) </strong>За неизпълнение на задълженията си, определени с този правилник и с ППЗНП, ученикът се наказва със:</p>

<p>1. забележка;</p>

<p>2. извършване на дейности в полза на училището в свободното от учебни часове време;</p>

<p>3. предупреждение за преместване в друго училище;</p>

<p>4. преместване в друго училище;</p>

<p>5. преместване от дневна форма в самостоятелна форма на обучение - за ученици, навършили 16-годишна възраст.</p>

<p><strong>(2) </strong>Дейностите в полза на училището по ал. 1, т. 2 не трябва да са такива, които с оглед на естеството или интензивността си не са съобразени с възрастовите особености и здравословното състояние на учениците или унижават тяхното достойнство. Видовете дейности са:</p>

<p>1. Почистване на училищния двор;</p>

<p>2. Почистване на класна стая;</p>

<p>3. Почистване и подреждане на физкултурния салон;</p>

<p>4. Работа в екип с преподавател за изработване и подреждане на учебни материали и помагала;</p>

<p>5. Изработване на плакати, схеми, таблици, карти и рекламни материали.</p>

<p><strong>(3) </strong>Когато ученикът се яви в училище с облекло или във вид, които са в нарушение на този правилник или на ППЗНП, както и когато състоянието му не му позволява да участва в образователно-възпитателния процес, той се отстранява от училище до отпадане на основанието за отстраняването му, за което класният ръководител уведомява родителя.</p>

<p><strong>(4) </strong>Когато ученикът пречи на учителя и/или на съучениците си по време на учебен час, учителят може да го отстрани до края на учебния час.</p>

<p><strong>(5) </strong>При тежки или системни нарушения на задълженията, определени в този правилник и в ППЗНП, освен наказание по ал. 1 на ученика може да се наложи мярка намаляване на поведението.</p>

<p><strong>(6) </strong>Освен налагането на наказание по ал. 1 ученикът може да бъде насочен към консултации и педагогическа и психологическа подкрепа от специалист, допълнително обучение в извънучебно време, включително в периода на ваканциите, участие в извънкласни и извънучилищни дейности, професионално ориентиране и други дейности с оглед недопускане на нарушения и на отпадане от училище.</p>

<p><strong>Чл. 53. (1) </strong>За едно нарушение не може да бъде наложено повече от едно наказание.</p>

<p><strong>(2) </strong>Мерките по чл. 52, ал. 5 и 6 се налагат заедно с наказанията по чл. 52, ал. 1.</p>

<p><strong>Чл. 54а. (1) </strong>Наказанията и мерките са срочни.</p>

<p><strong>(2) </strong>Срокът на наказанието по чл. 52, ал. 1, т. 1 и 4 е до края на учебната година, а по чл. 52, ал. 1, т. 2, 3 и 5 се определя в заповедта за налагането му.</p>

<p><strong>(3) </strong>Когато наказанията по чл. 52, ал. 1, т. 4 и 5 са наложени до 30 учебни дни преди края на втория учебен срок, те влизат в сила от началото на следващата учебна година.</p>

<p><strong>(4) </strong>Срокът на мярката по чл. 52, ал. 5 се определя в заповедта за налагането й.</p>

<p><strong>Чл. 54б.</strong> <strong>(1)</strong> Видът и срокът на наказанието се определят, като се отчитат видът, тежестта на нарушението и личностните особености на ученика.</p>

<p><strong>(2) </strong>Наказанията по чл. 52, ал. 1, т. 4 и 5 се налагат като крайна мярка при тежки или системни нарушения.</p>

<p><strong>(3) </strong>Наказанията по чл. 52, ал. 1 т. 1 се налагат и за допуснати над 5 неизвинени отсъствия. Наказанията по чл. 52, ал. 1, т. 2 и т. 3 се налагат и за допуснати повече от 10 неизвинени отсъствия. Наказанията по чл. 52, ал. 1, т. 4 и т.5 се налагат и за допуснати повече от 15 неизвинени отсъствия.</p>

<p><strong>(4) </strong>Мярката по чл. 52, ал. 4 не може да се налага на ученици със специални образователни потребности, когато поведението им е резултат от увреждането или нарушението на здравето.</p>

<p><strong>(5) </strong>Срокът на мярката по чл. 52, ал. 5 се определя, като се отчитат видът, тежестта на нарушението/нарушенията и личностните особености на ученика.</p>

<p><strong>(6) </strong>Видът и срокът на мерките по чл. 52, ал. 6 се определят, като се отчитат и възможностите на училището.</p>

<p><strong>Чл. 54в. (1) </strong>Наказанието по чл. 52, ал. 1, т. 1 се налага със заповед на директора по предложение на класния ръководител, а наказанията по чл. 52, ал. 1, т. 2 - 5 - със заповед на директора по предложение на педагогическия съвет.</p>

<p><strong>(2) </strong>Мярката по чл. 52, ал. 3 се налага със заповед на директора, а по чл. 52, ал. 5 и 6 - със заповед на директора по предложение на педагогическия съвет.</p>

<p><strong>Чл. 54г. (1) </strong>Класният ръководител писмено уведомява родителя за извършеното от ученика нарушение и за правата на родителя в процедурата по налагане на наказание.</p>

<p><strong>(2) </strong>За всяко производство за налагане на наказание по чл. 52, ал. 1 и на мярката по чл. 52, ал. 5 се определя докладчик. Докладчик е учител, който преподава на ученика.</p>

<p><strong>(3) </strong>Преди налагане на наказанията по чл. 52, ал. 1 и на мярката по чл. 52, ал. 5 директорът - за наказанието по чл. 52, ал. 1, т. 1, съответно педагогическият съвет - в останалите случаи, изслушва ученика и проверява фактите и обстоятелствата, свързани с конкретното нарушение.</p>

<p><strong>(4) </strong>Родителят има право да присъства на изслушването и да изрази мнение.</p>

<p><strong>(5) </strong>При необходимост изслушването се извършва в присъствието на психолог, педагогически съветник или ресурсен учител.</p>

<p><strong>(6) </strong>За изясняване на фактите и обстоятелствата на изслушването могат да бъдат поканени и да бъдат изслушани учители, които преподават на ученика, както и ученици.</p>

<p><strong>(7) </strong>Преди налагане на наказанията по чл. 52, ал. 1, т. 2 - 5 и на мярката по чл. 52, ал. 5 задължително се уведомява дирекция "Социално подпомагане" по настоящ адрес на ученика, представител на която може да присъства на изслушването с оглед защита на правата и на интересите на ученика. По желание на ученика и на неговите родители дирекция "Социално подпомагане" може да го консултира преди налагане и на останалите наказания и мерки.</p>

<p><strong>(8) </strong>Преди налагане на наказанията и мерките, с изключение на мярката по чл. 52, ал. 3, се взема мнението на класния ръководител на ученика.</p>

<p><strong>Чл. 54д. &nbsp;(1) </strong>В заповедта за налагане на наказанията и мерките се посочват видът на наказанието и/или мярката, срокът и мотивите за налагането им.</p>

<p><strong>(2) </strong>Заповедта може да се обжалва пред началника на регионалния инспекторат по образованието - за общинските училища, съответно пред министъра на образованието и науката - за държавните училища.</p>

<p><strong>Чл. 54е. (1) </strong>Класният ръководител уведомява родителя за наложените на ученика наказания и мерки.</p>

<p><strong>(2) </strong>Наложените наказания и мерки се отразяват в ученическата книжка, в личния картон и в характеристиката на ученика.</p>

<p><strong>(3) </strong>Наложеното наказание по чл. 52, ал. 1, т. 1 се обявява от класния ръководител пред класа.</p>

<p><strong>Чл. 54ж. (1) </strong>При налагане на мярката по чл. 52, ал. 3 за времето на отстраняване на ученика се отбелязват неизвинени отсъствия.</p>

<p><strong>(2) </strong>При налагане на мярката по чл. 52, ал. 4 за часа, за който ученикът е отстранен, учителят отбелязва неизвинено отсъствие. Ученикът няма право да напуска територията на училището по времето на отстраняването си. Отстраненият ученик е длъжен да се яви при педагогическия съветник. Педагогическият съветник извършва индивидуална работа с ученика за времето, през което е отстранен от час.</p>

<p><strong>(3) </strong>Ученик, на когото е наложено наказание по чл. 52, ал. 1, т. 4, продължава обучението си в друго училище при условия и по ред, определени със заповед на началника на регионалния инспекторат по образованието.</p>

<p><strong>(4) </strong>Ученик, на когото е наложена мярката по чл. 52, ал. 5, за срока на мярката се лишава от правото да получава стипендия за отличен успех, както и от правото да участва в представителни прояви от името на училището.</p>

<p><strong>(5) </strong>При равни други условия при приемане на ученици с предимство се ползват учениците, на които не е наложена мярката по чл. 52, ал. 5.</p>

<p><strong>Чл. 54з. (1) </strong>Наказанията и мерките се заличават с изтичане на срока, за който са наложени, или предсрочно по реда, по който са наложени.</p>

<p><strong>(2) </strong>По желание на ученика след заличаване на наказанието по чл. 52, ал. 1, т. 4 той може да продължи обучението си в училището, в което е преместен.</p>

<p><strong>(3) </strong>Заличаването се отбелязва в ученическата книжка и в личния картон на ученика.</p>

<p>&nbsp;</p>

<p><strong>РАЗДЕЛ ІІІ</strong></p>

<p><strong><u>Родители</u></strong></p>

<p>&nbsp;</p>

<p><strong>Чл. 54и. (1)</strong> Училището осъществява процеса на подготовка, обучение и възпитание на учениците във взаимодействие и сътрудничество с родителите.</p>

<p><strong>(2)</strong> Родителите имат следните права:</p>

<p>1. периодично да получават информация за успеха и развитието на децата им в образователно-възпитателния процес, за спазването на училищната дисциплина, уменията им за общуване с учениците и учителите и интегрирането им в училищната среда;</p>

<p>2. да се срещат с класния ръководител и учителите в определеното приемно време или в друго удобно за двете страни време;</p>

<p>3. да участват в родителските срещи;</p>

<p>4. да изразяват мнение и да правят предложения за развитие на училището;</p>

<p>5. да присъстват и при желание от тяхна страна да бъдат изслушани, когато се решават въпроси, които засягат права и интереси на ученика;</p>

<p>6. да участват в училищното настоятелство, когато такова е създадено;</p>

<p>7. да бъдат консултирани по въпроси, свързани с възпитанието на учениците, от специалист, за което училището им оказва необходимото съдействие.</p>

<p><strong>(3)</strong> Родителите имат следните задължения:</p>

<p>1. да осигуряват посещаемостта на ученика в училище;</p>

<p>2. да се запознаят срещу подпис с училищния учебен план и с този правилник, при записване на ученика;</p>

<p>3. да не допускат явяването на ученика в училище с облекло или във вид, които не съответстват на правилника на училището, положението му на ученик и на добрите нрави;</p>

<p>4. редовно да се осведомяват за успеха и развитието на ученика в образователно-възпитателния процес, за спазването на училищната дисциплина, за уменията му за общуване с учениците и учителите и интегрирането му в училищната среда;</p>

<p>5. да се явяват в училището, когато важни причини налагат това и бъдат поканени от класния ръководител или директора.</p>

<p><strong>ГЛАВА ЧЕТВЪРТА:&nbsp;</strong><strong>УПРАВЛЕНИЕ</strong></p>

<p><strong>РАЗДЕЛ І</strong></p>

<p><strong><u>Органи за управление</u></strong></p>

<p style="margin-left:.55pt"><strong>Чл.55</strong> Директорът като орган на управление на училището:</p>

<ol>
	<li>Организира, контролира и отговаря за цялостната дейност на училището;</li>
	<li>Спазва и прилага ДОИ;</li>
	<li>Осигурява безопасни условия за възпитание, обучение и труд;</li>
	<li>Представлява институцията пред органи, организации и лица и сключва договори с юридически и физически лица по предмета на дейност в съответствие с предоставените му правомощия;</li>
	<li>Разпорежда се с бюджетните средства;</li>
	<li>Сключва и прекратява трудови договори с пом. директорите, учителите, възпитателите, служителите и работниците в училище по реда определен от КТ;</li>
	<li>Обявява свободните места в бюрото по труда, РИО на МОН в тридневен срок от овакантяването им;</li>
	<li>Награждава и наказва ученици, учители и служители в съответствие с КТ, ЗНП и Правилника на училището;</li>
	<li>Организира приемането на ученици и обучението и възпитанието им в съответствие с ДОИ;</li>
	<li>Подписва и подпечатва документите за преместване на учениците, за завършен клас, за степен на образование и съхранява печата на училището;</li>
	<li>Контролира и отговаря за правилното водене и съхраняване на задължителната документация и съхранява печата на училището с държавния герб;</li>
	<li>Изготвя длъжностното разписание на персонала и утвърждава поименно разписание на длъжностите и работните заплати.</li>
</ol>

<p><strong>Чл.56</strong> <strong>(1) </strong>При отсъствие на директора на държавните и общинските детски градини, училища и обслужващи звена за срок повече от 30 календарни дни министърът на образованието и науката, началникът на регионалния инспекторат по образованието или кметът на общината сключва трудов договор с друго лице за временно изпълняване на длъжността "директор".</p>

<p><strong>(2)</strong> При отсъствие на директора за срок, по-малък от 30 календарни дни, той определя със заповед свой заместник от педагогическия персонал на училището.</p>

<p><strong>Чл.57</strong> Помощник-директорът по учебната дейност на училището заема длъжността с конкурс при условия и ред определени от директора и непротиворечащи на&nbsp; КТ, ЗНП и ППЗНП.</p>

<p><strong>Чл.58</strong>&nbsp; Помощник-директорът подпомага директора при организирането на учебната и административната дейност на училището съгласно нормативните документи, като:</p>

<ol>
	<li>По насоки от директора осъществява организацията, ръководството и контрола на учебно-възпитателната работа в училището;</li>
	<li>Организира изпълнението на учебните планове и учебните програми, контролира тяхното спазване;</li>
	<li>Организира и контролира урочните и извънурочните дейности по ЗБУТ, БД и ППО, води съответната документация;</li>
	<li>Периодично анализира състоянието на учебно-възпитателната дейност по отделни предмети или група учебни предмети, на извънкласните дейности.</li>
	<li>Оказва съдействие на&nbsp; класните ръководители при решаване на проблеми свързани с обучението и възпитаните на учениците, присъства на срещите с родителите (настойниците).</li>
</ol>

<p><strong>РАЗДЕЛ ІІ</strong></p>

<p><strong><u>Педагогически съвет</u></strong></p>

<p><strong>Чл. 59. (1)</strong> Педагогическият съвет на училището като специализиран орган за разглеждане и решаване на основни педагогически въпроси:</p>

<p>1. приема стратегия за развитие на училището, която се актуализира всяка година;</p>

<p>2. приема правилника за дейността на училището;</p>

<p>3. приема училищния учебен план;</p>

<p>4. избира формите на обучение;</p>

<p>5. обсъжда и взема решения по резултатите от обучението;</p>

<p>6. определя начина за приемане на ученици в училището при спазване изискванията на нормативните актове;</p>

<p>7. приема учебни планове за индивидуална форма на обучение;</p>

<p>8. прави предложения на директора за награждаване на ученици и за налагане на наказания "преместване в друго училище до края на учебната година" и "преместване от дневна форма в самостоятелна форма на обучение - за ученици, навършили 16-годишна възраст";</p>

<p>9. определя дейностите извън държавните образователни изисквания и приема програми за осъществяването им.</p>

<p>10. взема решение за преместване на учениците в самостоятелна форма на обучение в случаите по чл. 84, ал. 2, т. 1;</p>

<p>11. обсъжда резултатите от работата на училищната библиотека и дава препоръки за дейността й;</p>

<p>12. утвърждава униформено облекло след съгласуване с родителите на учениците от училището;</p>

<p>13. утвърждава училищни символи и ритуали след съгласуване с училищното настоятелство или с родители на учениците от училището.</p>

<p><strong>Чл. 60. (1)</strong> Педагогическият съвет включва в състава си помощник-директорите, учителите, възпитателите и другите специалисти с педагогически функции.</p>

<p><strong>(2)</strong> В състава на педагогическия съвет с право на съвещателен глас могат да участват председателят на училищното настоятелство и медицинското лице, което обслужва детската градина, училището или обслужващото звено.</p>

<p><strong>Чл. 61. (1)</strong> Педагогическият съвет се свиква най-малко веднъж на два месеца от директора. Извънредно заседание се свиква по писмено искане до директора на най-малко 1/3 от числения му състав.</p>

<p><strong>(2)</strong> Решенията се приемат с обикновено мнозинство при присъствието на не по-малко от 2/3 от числения му състав.</p>

<p><strong>(3)</strong> Решенията на педагогическия съвет могат да се отменят от самия съвет с квалифицирано мнозинство (2/3 от гласовете на присъстващите) или от началника на регионалния инспекторат по образованието.</p>

<p><strong>(4)</strong> За всяко заседание на педагогическия съвет се води протокол.</p>

<p><strong>Чл. 62. (1)</strong> Училищните настоятелства са обществени органи за подпомагане на дейността на училището.</p>

<p><strong>(2) </strong>Устройството и дейността на училищните настоятелства се уреждат съгласно разпоредбите на Закона за народната просвета, Закона за юридическите лица с нестопанска цел и техните устави.</p>

<p><strong>(3) </strong>С цел изграждане облика на училището училищното настоятелство може да предлага на педагогическия съвет за утвърждаване униформено облекло, училищни символи и ритуали.</p>

<p><strong>(4)</strong> Съветът на настоятелите представя информация за дейността си при необходимост на регионалните инспекторати на МОН.</p>

<p><strong>(5)</strong> Ръководството и служителите на училището подпомагат дейността на училищното настоятелство.</p>

<p><strong>Чл. 63.</strong> Училищно настоятелство “Златорог” при ЕГ”Д-р Ив.Богоров” е регистрирано и осъществява своята дейност в съответствие с изискванията на ЗНП, Закона за юридическите лица с нестопанска цел и Устав приет на учредителното събрание 11.2001г.</p>

<p style="margin-left:.55pt"><strong>РАЗДЕЛ ІІІ</strong></p>

<p><strong><u>Общо събрание на колектива</u></strong></p>

<p><strong>Чл. 64</strong>&nbsp; В общото събрание се включват всички учители и служители.</p>

<p><strong>Чл. 65</strong>&nbsp; Общото събрание се свиква по искане на един от синдикатите (ако има и втори) или по искане на 1/3 от колектива.</p>

<p><strong>Чл. 66</strong>&nbsp; Общото събрание е редовно ако присъствуват повече от половината от членовете на колектива. Решенията се вземат с обикновено мнозинство.</p>

<p><strong>Чл. 67</strong>&nbsp; Общото събрание разпределя средствата от фонд СБКО; взема решения за мероприятия касаещи целия колектив.</p>

<p style="margin-left:.55pt"><strong>ГЛАВА ПЕТА:&nbsp;</strong><strong>Задължителна документация</strong></p>

<p style="margin-left:.55pt"><strong>Чл.68 (1)</strong> Задължителната документация в училището и срокът на нейното съхранение са:</p>

<ol>
	<li>Книга за подлежащите на задължително обучение ученици до 16-годишна възраст – 5 години – води се от ЗАС;</li>
	<li>Сведение за организацията и дейността в училището за учебната година (Списък-Образец№1) – 5 години – води се от директора;</li>
	<li>Дневник за всяка паралелка – 5 години – води се от класния ръководител;</li>
	<li>Материална книга за взетите учебни часове – до следващата финансова ревизия – всеки преподавател лично и ежедневно нанася учебния материал;</li>
	<li>Протоколи за изпитите – постоянен – попълват се от дежурните учители и от изпитната комисия;</li>
	<li>Книга за резултатите от приравнителни изпити – постоянен – води се от ПД по УД;</li>
	<li>Лични картони с резултатите през целия курс на обучение за всеки ученик – постоянен – водят се от класните ръководители;</li>
	<li>Регистрационни книги за издадените документи и дубликати: за завършена степен на образование (основно, средно) – постоянен - води се от ЗАС и класните ръководители;</li>
	<li>Входящ и изходящ дневник – 5 години – води се от ЗАС;</li>
	<li>Книга за регистриране на заповедите на директора и приложените заповеди към нея – 5 години – води се от ЗАС;</li>
	<li>Книги за контролната дейност в училището – 5 години – водят се от директора и пом. директора;</li>
	<li>Книга с протоколите от заседанията на Педагогическия съвет – постоянен – води се от секретаря на ПС и директора;</li>
	<li>Инвентарна книга и отчети и счетоводни форми – срок съгласно Закона за счетоводството – води се от гл. счетоводител;</li>
	<li>Книга за регистриране на даренията – постоянен – води се от ЗАС;</li>
	<li>Книга за санитарното състояние на училището – 5 години – води се от контролните органи.</li>
</ol>

<p><strong>(2)</strong>&nbsp; Документите по ал.1 се водят по образци, утвърдени от Министъра на образованието и науката, в съответствие с разпоредбите на Наредба №4 и Заповед&nbsp; на Директора на училището.</p>

<p style="margin-left:.55pt">&nbsp;</p>

<p style="margin-left:.55pt"><strong>ГЛАВА ШЕСТА:&nbsp;</strong><strong>Заключителни разпоредби</strong></p>

<p><strong>&amp;1</strong>. Правилникът има императивен характер и е валиден до издаване на втори такъв.</p>

<p><strong>&amp;2</strong>. При обективни обстоятелства наложени от изменение на нормативната уредба, същият може да бъде анулиран.</p>

<p><strong>&amp;3</strong>. Настоящият Правилник да&nbsp; се доведе до знанието на всички по подходящ начин.</p>

<p><strong>&amp;4</strong>. Копие то Правилника да се предостави на членовете на административното ръководство и в учителската стая.</p>

<p><strong>&amp;5</strong>. Контрол по изпълнението възлагам на специалистите с ръководни функции.</p>

<p style="margin-left:.55pt">&nbsp;</p>

<p style="margin-left:35.45pt">&nbsp;</p>

<p>&nbsp;&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

        <br>
                        <div style="clear:both"></div>
        <div>
            <ul>
                            </ul>
        </div>
        
                <div>
            <span class="st_sharethis_large" displaytext="ShareThis" st_processed="yes"><span style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;" class="stButton"><span class="stLarge" style="background-image: url(&quot;https://web.archive.org/web/20180226171949/http://w.sharethis.com/images/2017/sharethis_32.png&quot;);"></span></span></span>
            <span class="st_facebook_large" displaytext="Facebook" st_processed="yes"><span style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;" class="stButton"><span class="stLarge" style="background-image: url(&quot;https://web.archive.org/web/20180226171949/http://w.sharethis.com/images/2017/facebook_32.png&quot;);"></span></span></span>
            <span class="st_twitter_large" displaytext="Tweet" st_processed="yes"><span style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;" class="stButton"><span class="stLarge" style="background-image: url(&quot;https://web.archive.org/web/20180226171949/http://w.sharethis.com/images/2017/twitter_32.png&quot;);"></span></span></span>
            <span class="st_linkedin_large" displaytext="LinkedIn" st_processed="yes"><span style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;" class="stButton"><span class="stLarge" style="background-image: url(&quot;https://web.archive.org/web/20180226171949/http://w.sharethis.com/images/2017/linkedin_32.png&quot;);"></span></span></span>
            <span class="st_pinterest_large" displaytext="Pinterest" st_processed="yes"><span style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;" class="stButton"><span class="stLarge" style="background-image: url(&quot;https://web.archive.org/web/20180226171949/http://w.sharethis.com/images/2017/pinterest_32.png&quot;);"></span></span></span>
            <span class="st_email_large" displaytext="Email" st_processed="yes"><span style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;" class="stButton"><span class="stLarge" style="background-image: url(&quot;https://web.archive.org/web/20180226171949/http://w.sharethis.com/images/2017/email_32.png&quot;);"></span></span></span>
        </div>
            </div>
    </div>
