@{
    ViewData["Title"] = "За Вас";
}

<div class="grid">
      <h2>За вас зрелостници / Документи</h2>
      <div>
          <ul>
                                          <li><a href="/web/20180226172652/http://www.eg-dg-bg.com/gallery/9082640.pdf">Стипендия за обучение в САЩ</a></li> 
                                      </ul>
      </div>
    </div>