@{
    ViewData["Title"] = "Галерия";
}
  <h2>Галерии</h2>
  <div class="container_24">
       <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/35/С-ВЕЛОСИПЕД-И-РОЛЕРИ-ЗА-ЗДРАВЕ" align="left"><img src="/web/20210225140510im_/http://www.eg-dg-bg.com/gallery/thumb-670927356.blob" alt="С-ВЕЛОСИПЕД-И-РОЛЕРИ-ЗА-ЗДРАВЕ" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/35/С-ВЕЛОСИПЕД-И-РОЛЕРИ-ЗА-ЗДРАВЕ" align="left">С ВЕЛОСИПЕД И РОЛЕРИ ЗА ЗДРАВЕ</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/34/Изпращане-на-випуск-2020" align="left"><img src="/web/20210225140510im_/http://www.eg-dg-bg.com/gallery/thumb-861648793.blob" alt="Изпращане-на-випуск-2020" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/34/Изпращане-на-випуск-2020" align="left">Изпращане на випуск 2020</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/31/Първи-учебен-ден-16-09-2019" align="left"><img src="/web/20210225140510im_/http://www.eg-dg-bg.com/gallery/thumb-137942203.JPG" alt="Първи-учебен-ден-16-09-2019" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/31/Първи-учебен-ден-16-09-2019" align="left">Първи учебен ден 16.09.2019</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/30/Седмица-на-четенето-2018" align="left"><img src="/web/20210225140510im_/http://www.eg-dg-bg.com/gallery/thumb-221872270.blob" alt="Седмица-на-четенето-2018" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/30/Седмица-на-четенето-2018" align="left">Седмица на четенето 2018</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/29/ДИПЛОМИРАНЕ-НА-ВИПУСК-2017" align="left"><img src="/web/20210225140510im_/http://www.eg-dg-bg.com/gallery/thumb-201514446.JPG" alt="ДИПЛОМИРАНЕ-НА-ВИПУСК-2017" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/29/ДИПЛОМИРАНЕ-НА-ВИПУСК-2017" align="left">ДИПЛОМИРАНЕ НА ВИПУСК 2017</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/28/ПРОЛЕТНО-НАДИГРАВАНЕ-8" align="left"><img src="/web/20210225140510im_/http://www.eg-dg-bg.com/gallery/thumb-649182073.jpg" alt="ПРОЛЕТНО-НАДИГРАВАНЕ-8" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/28/ПРОЛЕТНО-НАДИГРАВАНЕ-8" align="left">ПРОЛЕТНО НАДИГРАВАНЕ 8</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/27/ПАТРОНЕН-ПРАЗНИК-2017" align="left"><img src="/web/20210225140510im_/http://www.eg-dg-bg.com/gallery/thumb-596170923.jpg" alt="ПАТРОНЕН-ПРАЗНИК-2017" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/27/ПАТРОНЕН-ПРАЗНИК-2017" align="left">ПАТРОНЕН ПРАЗНИК 2017</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/26/АРТБОКЛУК-2017" align="left"><img src="/web/20210225140510im_/http://www.eg-dg-bg.com/gallery/thumb-385587990.jpg" alt="АРТБОКЛУК-2017" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/26/АРТБОКЛУК-2017" align="left">АРТБОКЛУК 2017</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/25/HALLOWEEN-2016" align="left"><img src="/web/20210225140510im_/http://www.eg-dg-bg.com/gallery/thumb-343416642.JPG" alt="HALLOWEEN-2016" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/25/HALLOWEEN-2016" align="left">HALLOWEEN 2016</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/24/15-септември-2016-година" align="left"><img src="/web/20210225140510im_/http://www.eg-dg-bg.com/gallery/thumb-121503560.jpg" alt="15-септември-2016-година" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/24/15-септември-2016-година" align="left">15 септември 2016 година</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/23/Пролетно-надиграване-7--27-април-2016-г--" align="left"><img src="/web/20210225140510im_/http://www.eg-dg-bg.com/gallery/thumb-851389305.blob" alt="Пролетно-надиграване-7--27-април-2016-г--" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/23/Пролетно-надиграване-7--27-април-2016-г--" align="left">Пролетно надиграване 7 /27 април 2016 г./</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/22/Артбоклук-2016" align="left"><img src="/web/20210225140510im_/http://www.eg-dg-bg.com/gallery/thumb-605821747.jpg" alt="Артбоклук-2016" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/22/Артбоклук-2016" align="left">Артбоклук 2016</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/21/Пъстра-китка---Пролетен-благотворителен-концерт-13-април-2016-г-" align="left"><img src="/web/20210225140510im_/http://www.eg-dg-bg.com/gallery/thumb-737331186.JPG" alt="Пъстра-китка---Пролетен-благотворителен-концерт-13-април-2016-г-" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/21/Пъстра-китка---Пролетен-благотворителен-концерт-13-април-2016-г-" align="left">Пъстра китка - Пролетен благотворителен концерт 13 април 2016 г.</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/20/Театрално-студио-Selfie" align="left"><img src="/web/20210225140510im_/http://www.eg-dg-bg.com/gallery/thumb-237953592.JPG" alt="Театрално-студио-Selfie" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/20/Театрално-студио-Selfie" align="left">Театрално студио "Selfie"</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/19/Написаното-остава--Пиши-правилно!---състезание" align="left"><img src="/web/20210225140510im_/http://www.eg-dg-bg.com/gallery/thumb-498022030.blob" alt="Написаното-остава--Пиши-правилно!---състезание" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/19/Написаното-остава--Пиши-правилно!---състезание" align="left">Написаното остава. Пиши правилно! - състезание</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/18/КОЛЕДА-2015" align="left"><img src="/web/20210225140510im_/http://www.eg-dg-bg.com/gallery/thumb-170655639.JPG" alt="КОЛЕДА-2015" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/18/КОЛЕДА-2015" align="left">КОЛЕДА 2015</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/17/Седмица-на-четенето-07-12----11-12-2015г-" align="left"><img src="/web/20210225140510im_/http://www.eg-dg-bg.com/gallery/thumb-217093398.jpg" alt="Седмица-на-четенето-07-12----11-12-2015г-" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/17/Седмица-на-четенето-07-12----11-12-2015г-" align="left">Седмица на четенето 07.12. - 11.12.2015г.</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/16/HALLOWEEN-2015" align="left"><img src="/web/20210225140510im_/http://www.eg-dg-bg.com/gallery/thumb-738538985.blob" alt="HALLOWEEN-2015" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/16/HALLOWEEN-2015" align="left">HALLOWEEN 2015</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/15/Пролетно-надиграване-6---20-март-2015г-" align="left"><img src="/web/20210225140510im_/http://www.eg-dg-bg.com/gallery/thumb-981835191.blob" alt="Пролетно-надиграване-6---20-март-2015г-" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/15/Пролетно-надиграване-6---20-март-2015г-" align="left">Пролетно надиграване 6 - 20 март 2015г.</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/14/Час-по-любовна-поезия--февруари-2015-" align="left"><img src="/web/20210225140510im_/http://www.eg-dg-bg.com/gallery/thumb-711309891.jpg" alt="Час-по-любовна-поезия--февруари-2015-" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/14/Час-по-любовна-поезия--февруари-2015-" align="left">Час по любовна поезия /февруари 2015/</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/13/Бъди-различен" align="left"><img src="/web/20210225140510im_/http://www.eg-dg-bg.com/gallery/thumb-410598122.jpg" alt="Бъди-различен" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/13/Бъди-различен" align="left">Бъди различен</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/12/VII-Областен-форум-на-ученическите-клубове-за-извънкласни-дейности--ЕГ---домакин---май-2014" align="left"><img src="/web/20210225140510im_/http://www.eg-dg-bg.com/gallery/thumb-437524801.JPG" alt="VII-Областен-форум-на-ученическите-клубове-за-извънкласни-дейности--ЕГ---домакин---май-2014" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/12/VII-Областен-форум-на-ученическите-клубове-за-извънкласни-дейности--ЕГ---домакин---май-2014" align="left">VII Областен форум на ученическите клубове за извънкласни дейности /ЕГ - домакин/- май 2014</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/11/Коледуване-и-коледно-тържество-2014" align="left"><img src="/web/20210225140510im_/http://www.eg-dg-bg.com/gallery/thumb-787342014.JPG" alt="Коледуване-и-коледно-тържество-2014" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/11/Коледуване-и-коледно-тържество-2014" align="left">Коледуване и коледно тържество 2014</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/10/DARBI-Викторина--ноември-2014г--" align="left"><img src="/web/20210225140510im_/http://www.eg-dg-bg.com/gallery/thumb-334416239.JPG" alt="DARBI-Викторина--ноември-2014г--" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/10/DARBI-Викторина--ноември-2014г--" align="left">DARBI Викторина /ноември 2014г./</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/9/HALLOWEEN-2014" align="left"><img src="/web/20210225140510im_/http://www.eg-dg-bg.com/gallery/thumb-939758861.jpg" alt="HALLOWEEN-2014" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/9/HALLOWEEN-2014" align="left">HALLOWEEN 2014</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/8/Артбоклук-2014" align="left"><img src="/web/20210225140510im_/http://www.eg-dg-bg.com/gallery/thumb-781462772.JPG" alt="Артбоклук-2014" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/8/Артбоклук-2014" align="left">Артбоклук 2014</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/7/Моят-Димитровград---документален-филм--снимки-" align="left"><img src="/web/20210225140510im_/http://www.eg-dg-bg.com/gallery/thumb-106412292.JPG" alt="Моят-Димитровград---документален-филм--снимки-" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/7/Моят-Димитровград---документален-филм--снимки-" align="left">"Моят Димитровград" - документален филм /снимки/</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/6/Бяла-Коледа---Бяла-Магия--коледен-благотворителен-концерт---декември-2013г--" align="left"><img src="/web/20210225140510im_/http://www.eg-dg-bg.com/gallery/thumb-619254504.blob" alt="Бяла-Коледа---Бяла-Магия--коледен-благотворителен-концерт---декември-2013г--" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/6/Бяла-Коледа---Бяла-Магия--коледен-благотворителен-концерт---декември-2013г--" align="left">Бяла Коледа - Бяла Магия /коледен благотворителен концерт - декември 2013г./</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/5/DARBI-Викторина--ноември-2013г--" align="left"><img src="/web/20210225140510im_/http://www.eg-dg-bg.com/gallery/thumb-652753842.JPG" alt="DARBI-Викторина--ноември-2013г--" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/5/DARBI-Викторина--ноември-2013г--" align="left">DARBI Викторина /ноември 2013г./</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/4/ENGLISH-IS-WHAT-WE-DO---2013" align="left"><img src="/web/20210225140510im_/http://www.eg-dg-bg.com/gallery/thumb-259754150.jpg" alt="ENGLISH-IS-WHAT-WE-DO---2013" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/4/ENGLISH-IS-WHAT-WE-DO---2013" align="left">ENGLISH IS WHAT WE DO - 2013</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/3/ПОЕТИЧНА-ВЕЧЕР--февруари-2014-" align="left"><img src="/web/20210225140510im_/http://www.eg-dg-bg.com/gallery/thumb-151476526.blob" alt="ПОЕТИЧНА-ВЕЧЕР--февруари-2014-" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/3/ПОЕТИЧНА-ВЕЧЕР--февруари-2014-" align="left">ПОЕТИЧНА ВЕЧЕР /февруари 2014/</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/2/Пролетно-надиграване-5--21-03-2014-" align="left"><img src="/web/20210225140510im_/http://www.eg-dg-bg.com/gallery/thumb-675830350.JPG" alt="Пролетно-надиграване-5--21-03-2014-" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/2/Пролетно-надиграване-5--21-03-2014-" align="left">Пролетно надиграване 5 /21.03.2014/</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
          
    </div>      
