@{
    ViewData["Title"] = "Галерия";
}
  <h2>Галерии</h2>
  <div class="container_24">
       <div class="grid_18" style="clear:both">
      
     
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/15/Пролетно-надиграване-6---20-март-2015г-" align="left"><img src="~/MyStaticFiles/images/last/14.jpg" alt="Пролетно-надиграване-6---20-март-2015г-" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/15/Пролетно-надиграване-6---20-март-2015г-" align="left">Пролетно надиграване 6 - 20 март 2015г.</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/14/Час-по-любовна-поезия--февруари-2015-" align="left"><img src="~/MyStaticFiles/images/last/13.jpg" alt="Час-по-любовна-поезия--февруари-2015-" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/14/Час-по-любовна-поезия--февруари-2015-" align="left">Час по любовна поезия /февруари 2015/</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/13/Бъди-различен" align="left"><img src="~/MyStaticFiles/images/last/12.jpg" alt="Бъди-различен" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/13/Бъди-различен" align="left">Бъди различен</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/12/VII-Областен-форум-на-ученическите-клубове-за-извънкласни-дейности--ЕГ---домакин---май-2014" align="left"><img src="~/MyStaticFiles/images/last/11.jpg" alt="VII-Областен-форум-на-ученическите-клубове-за-извънкласни-дейности--ЕГ---домакин---май-2014" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/12/VII-Областен-форум-на-ученическите-клубове-за-извънкласни-дейности--ЕГ---домакин---май-2014" align="left">VII Областен форум на ученическите клубове за извънкласни дейности /ЕГ - домакин/- май 2014</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/11/Коледуване-и-коледно-тържество-2014" align="left"><img src="~/MyStaticFiles/images/last/10.jpg" alt="Коледуване-и-коледно-тържество-2014" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/11/Коледуване-и-коледно-тържество-2014" align="left">Коледуване и коледно тържество 2014</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/10/DARBI-Викторина--ноември-2014г--" align="left"><img src="~/MyStaticFiles/images/last/9.jpg" alt="DARBI-Викторина--ноември-2014г--" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/10/DARBI-Викторина--ноември-2014г--" align="left">DARBI Викторина /ноември 2014г./</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/9/HALLOWEEN-2014" align="left"><img src="~/MyStaticFiles/images/last/8.jpg" alt="HALLOWEEN-2014" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/9/HALLOWEEN-2014" align="left">HALLOWEEN 2014</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/8/Артбоклук-2014" align="left"><img src="~/MyStaticFiles/images/last/7.jpg" alt="Артбоклук-2014" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/8/Артбоклук-2014" align="left">Артбоклук 2014</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/7/Моят-Димитровград---документален-филм--снимки-" align="left"><img src="~/MyStaticFiles/images/last/6.jpg" alt="Моят-Димитровград---документален-филм--снимки-" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/7/Моят-Димитровград---документален-филм--снимки-" align="left">"Моят Димитровград" - документален филм /снимки/</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/6/Бяла-Коледа---Бяла-Магия--коледен-благотворителен-концерт---декември-2013г--" align="left"><img src="~/MyStaticFiles/images/last/5.jpg" alt="Бяла-Коледа---Бяла-Магия--коледен-благотворителен-концерт---декември-2013г--" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/6/Бяла-Коледа---Бяла-Магия--коледен-благотворителен-концерт---декември-2013г--" align="left">Бяла Коледа - Бяла Магия /коледен благотворителен концерт - декември 2013г./</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/5/DARBI-Викторина--ноември-2013г--" align="left"><img src="~/MyStaticFiles/images/last/4.jpg" alt="DARBI-Викторина--ноември-2013г--" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/5/DARBI-Викторина--ноември-2013г--" align="left">DARBI Викторина /ноември 2013г./</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/4/ENGLISH-IS-WHAT-WE-DO---2013" align="left"><img src="~/MyStaticFiles/images/last/3.jpg" alt="ENGLISH-IS-WHAT-WE-DO---2013" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/4/ENGLISH-IS-WHAT-WE-DO---2013" align="left">ENGLISH IS WHAT WE DO - 2013</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/3/ПОЕТИЧНА-ВЕЧЕР--февруари-2014-" align="left"><img src="~/MyStaticFiles/images/last/2.jpg" alt="ПОЕТИЧНА-ВЕЧЕР--февруари-2014-" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/3/ПОЕТИЧНА-ВЕЧЕР--февруари-2014-" align="left">ПОЕТИЧНА ВЕЧЕР /февруари 2014/</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
      
      <div class="review">
        <a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/2/Пролетно-надиграване-5--21-03-2014-" align="left"><img src="~/MyStaticFiles/images/last/1.jpg" alt="Пролетно-надиграване-5--21-03-2014-" align="left" width="140"></a>
        <h3><a href="/web/20210225140510/http://www.eg-dg-bg.com/galleries/2/Пролетно-надиграване-5--21-03-2014-" align="left">Пролетно надиграване 5 /21.03.2014/</a></h3>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
          
    </div>      
