@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="content">
  <h2>Горещи връзки</h2>
  <div class="container_24">
       <div class="grid_18" style="clear:both">
     <div class="review">
                    <img src="https://web.archive.org/web/20160406052336im_/http://www.eg-dg-bg.com/gallery/crop/4882247.png" alt="Участието-на-Добромир-в-научна-конференция" align="left" width="140">
                <h3><a href="https://web.archive.orghttps://web.archive.org/web/20160406052336/http://izvestnik.info/%D0%BF%D0%B5%D0%BD%D1%8C%D0%BE-%D0%BF%D0%B5%D0%BD%D0%B5%D0%B2-%D0%BA%D0%B0%D1%82%D0%BE-%D0%BA%D1%83%D0%BB%D1%82-%D0%BF%D1%80%D0%B5%D0%B4%D1%81%D1%82%D0%B0%D0%B2%D0%B8-%D1%83%D1%87%D0%B5%D0%BD%D0%B8/" target="_blank">Участието на Добромир в научна конференция</a></h3> 
        18-11-2015 / <a href="https://web.archive.org/web/20160406052336/http://www.eg-dg-bg.com/news/cat/9/Izvestnik-info" target="_blank">Izvestnik.info</a>        
      </div>
      <br>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
     <div class="review">
                    <img src="https://web.archive.org/web/20160406052336im_/http://www.eg-dg-bg.com/gallery/crop/4882247.png" alt="Да-бъдеш-учител-в-смътно-време-е-достойно" align="left" width="140">
                <h3><a href="https://web.archive.orghttps://web.archive.org/web/20160406052336/http://izvestnik.info/%D0%BA%D1%80%D0%B0%D1%81%D0%B8%D0%BC%D0%B8%D1%80-%D0%BA%D1%80%D1%8A%D1%81%D1%82%D0%B5%D0%B2-%D0%B4%D0%B0-%D0%B1%D1%8A%D0%B4%D0%B5%D1%88-%D1%83%D1%87%D0%B8%D1%82%D0%B5%D0%BB-%D0%B2-%D1%81%D0%BC%D1%83/" target="_blank">Да бъдеш учител в смътно време е достойно</a></h3> 
        16-09-2015 / <a href="https://web.archive.org/web/20160406052336/http://www.eg-dg-bg.com/news/cat/9/Izvestnik-info" target="_blank">Izvestnik.info</a>        
      </div>
      <br>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
     <div class="review">
                    <img src="https://web.archive.org/web/20160406052336im_/http://www.eg-dg-bg.com/gallery/crop/6683164.gif" alt="Дамско-парти---пиеса-за-патронния-празник-2015" align="left" width="140">
                <h3><a href="https://web.archive.orghttps://web.archive.org/web/20160406052336/http://www.facebook.com/l.php?u=http%3A%2F%2Fhaskovo.info%2Findex.php%3Foption%3Dcom_content%26task%3Dview%26id%3D31073%26Itemid%3D2&amp;h=iAQETzdxe" target="_blank">"Дамско парти" - пиеса за патронния празник 2015</a></h3> 
        21-04-2015 / <a href="https://web.archive.org/web/20160406052336/http://www.eg-dg-bg.com/news/cat/7/haskovo-net" target="_blank">haskovo.net</a>        
      </div>
      <br>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
     <div class="review">
                    <img src="https://web.archive.org/web/20160406052336im_/http://www.eg-dg-bg.com/gallery/crop/6486999.gif" alt="Две-първи-места-в-Пролетното-надиграване-6" align="left" width="140">
                <h3><a href="https://web.archive.orghttps://web.archive.org/web/20160406052336/http://dimitrovgrad.bgvesti.net/news/183097/Ezikovata-i-PMG-si-podeliha-parvoto-myasto-v-proletnoto-nadigravane-#.VQwZzv35dI4.facebook" target="_blank">Две първи места в Пролетното надиграване 6</a></h3> 
        24-03-2015 / <a href="https://web.archive.org/web/20160406052336/http://www.eg-dg-bg.com/news/cat/8/Dimitrovgrad-bgvesti-net" target="_blank">Dimitrovgrad.bgvesti.net</a>        
      </div>
      <br>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
     <div class="review">
                    <img src="https://web.archive.org/web/20160406052336im_/http://www.eg-dg-bg.com/gallery/crop/3741972.gif" alt="Пролетното-надиграване-ще-става-международно" align="left" width="140">
                <h3><a href="https://web.archive.orghttps://web.archive.org/web/20160406052336/http://haskovo.info/index.php?option=com_content&amp;task=view&amp;id=30728&amp;Itemid=2" target="_blank">Пролетното надиграване ще става международно</a></h3> 
        24-03-2015 / <a href="https://web.archive.org/web/20160406052336/http://www.eg-dg-bg.com/news/cat/10/haskovo-info" target="_blank">haskovo.info</a>        
      </div>
      <br>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
     <div class="review">
                    <img src="https://web.archive.org/web/20160406052336im_/http://www.eg-dg-bg.com/gallery/crop/6486999.gif" alt="Час-по-любовна-поезия" align="left" width="140">
                <h3><a href="https://web.archive.orghttps://web.archive.org/web/20160406052336/http://www.dimitrovgrad.bgvesti.net/news/179705/Lyubovta-zvuchi-zavladyavastho-na-vsichki-ezici-dokazaha-bogorovci#.VN4KCSsSdVE.facebook" target="_blank">Час по любовна поезия</a></h3> 
        13-02-2015 / <a href="https://web.archive.org/web/20160406052336/http://www.eg-dg-bg.com/news/cat/8/Dimitrovgrad-bgvesti-net" target="_blank">Dimitrovgrad.bgvesti.net</a>        
      </div>
      <br>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
     <div class="review">
                    <img src="https://web.archive.org/web/20160406052336im_/http://www.eg-dg-bg.com/gallery/crop/6486999.gif" alt="Коледа-в-ЕГ" align="left" width="140">
                <h3><a href="https://web.archive.orghttps://web.archive.org/web/20160406052336/http://www.dimitrovgrad.bgvesti.net/news/174794/Ezikovata-v-Dimitrovgrad-vrachi-nagradi-ot-Koledni-konkursi#.VJLl8sBPzZU.facebook" target="_blank">Коледа в ЕГ</a></h3> 
        18-12-2014 / <a href="https://web.archive.org/web/20160406052336/http://www.eg-dg-bg.com/news/cat/8/Dimitrovgrad-bgvesti-net" target="_blank">Dimitrovgrad.bgvesti.net</a>        
      </div>
      <br>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
     <div class="review">
                    <img src="https://web.archive.org/web/20160406052336im_/http://www.eg-dg-bg.com/gallery/crop/6486999.gif" alt="Коледари-шетаха-из-Димитровград" align="left" width="140">
                <h3><a href="https://web.archive.orghttps://web.archive.org/web/20160406052336/http://www.dimitrovgrad.bgvesti.net/news/174600/Koledari-ot-Ezikovata-shetaha-iz-Dimitrovgrad-dnes#.VJBImGH7dAs.facebook" target="_blank">Коледари шетаха из Димитровград</a></h3> 
        16-12-2014 / <a href="https://web.archive.org/web/20160406052336/http://www.eg-dg-bg.com/news/cat/8/Dimitrovgrad-bgvesti-net" target="_blank">Dimitrovgrad.bgvesti.net</a>        
      </div>
      <br>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
     <div class="review">
                    <img src="https://web.archive.org/web/20160406052336im_/http://www.eg-dg-bg.com/gallery/crop/6486999.gif" alt="Богоровка---Мис-Димировград-2014" align="left" width="140">
                <h3><a href="https://web.archive.orghttps://web.archive.org/web/20160406052336/http://dimitrovgrad.bgvesti.net/news/171916/Bogorovka-stana-Mis-Dimitrovgrad-2014#.VGcfbiAzCpk.facebook" target="_blank">Богоровка - Мис Димировград 2014</a></h3> 
        15-11-2014 / <a href="https://web.archive.org/web/20160406052336/http://www.eg-dg-bg.com/news/cat/8/Dimitrovgrad-bgvesti-net" target="_blank">Dimitrovgrad.bgvesti.net</a>        
      </div>
      <br>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
     <div class="review">
                <h3><a href="https://web.archive.orghttps://web.archive.org/web/20160406052336/http://dariknews.bg/view_article.php?article_id=1351590" target="_blank">Петима с награди от Общинския конкурс за есе "Какъв е будителят днес?"</a></h3> 
        04-11-2014 / <a href="https://web.archive.org/web/20160406052336/http://www.eg-dg-bg.com/news/cat/13/Dariknews-bg" target="_blank">Dariknews.bg</a>        
      </div>
      <br>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
     <div class="review">
                    <img src="https://web.archive.org/web/20160406052336im_/http://www.eg-dg-bg.com/gallery/crop/6486999.gif" alt="Богорвци-с-награди-от-Общински-конкурс-за-есе-Кой-е-будителят-днес" align="left" width="140">
                <h3><a href="https://web.archive.orghttps://web.archive.org/web/20160406052336/http://dimitrovgrad.bgvesti.net/news/171018/Pet-uchenici--otlicheni-v-konkurs-za-ese--posveten-na-buditelite" target="_blank">Богорвци с награди от Общински конкурс за есе "Кой е будителят днес?"</a></h3> 
        04-11-2014 / <a href="https://web.archive.org/web/20160406052336/http://www.eg-dg-bg.com/news/cat/8/Dimitrovgrad-bgvesti-net" target="_blank">Dimitrovgrad.bgvesti.net</a>        
      </div>
      <br>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
     <div class="review">
                    <img src="https://web.archive.org/web/20160406052336im_/http://www.eg-dg-bg.com/gallery/crop/6486999.gif" alt="Младежки-джаз---фест-с-концерт-в-ЕГ" align="left" width="140">
                <h3><a href="https://web.archive.orghttps://web.archive.org/web/20160406052336/http://dimitrovgrad.bgvesti.net/index.php?module=video&amp;action=list&amp;id=169913&amp;cat=99" target="_blank">Младежки джаз - фест с концерт в ЕГ</a></h3> 
        22-10-2014 / <a href="https://web.archive.org/web/20160406052336/http://www.eg-dg-bg.com/news/cat/8/Dimitrovgrad-bgvesti-net" target="_blank">Dimitrovgrad.bgvesti.net</a>        
      </div>
      <br>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
     <div class="review">
                    <img src="https://web.archive.org/web/20160406052336im_/http://www.eg-dg-bg.com/gallery/crop/6486999.gif" alt="Езикова-гимназия-дипломира-випуск-2014" align="left" width="140">
                <h3><a href="https://web.archive.orghttps://web.archive.org/web/20160406052336/http://dimitrovgrad.bgvesti.net/news/160630/Vipusk-2014-na-Ezikovata-v-Dimitrovgrad-se-diplomira#.U6use8nRPOc.facebook" target="_blank">Езикова гимназия дипломира випуск 2014</a></h3> 
        26-06-2014 / <a href="https://web.archive.org/web/20160406052336/http://www.eg-dg-bg.com/news/cat/8/Dimitrovgrad-bgvesti-net" target="_blank">Dimitrovgrad.bgvesti.net</a>        
      </div>
      <br>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
     <div class="review">
                    <img src="https://web.archive.org/web/20160406052336im_/http://www.eg-dg-bg.com/gallery/crop/6486999.gif" alt="Международно-отличие-за-поетично-творчество" align="left" width="140">
                <h3><a href="https://web.archive.orghttps://web.archive.org/web/20160406052336/http://dimitrovgrad.bgvesti.net/news/160101/Desetoklasnik-ot-Ezikovata-s-nagrada-za-poetichno-tvorchestvo#.U6L1bFekTDo.facebook" target="_blank">Международно отличие за поетично творчество</a></h3> 
        19-06-2014 / <a href="https://web.archive.org/web/20160406052336/http://www.eg-dg-bg.com/news/cat/8/Dimitrovgrad-bgvesti-net" target="_blank">Dimitrovgrad.bgvesti.net</a>        
      </div>
      <br>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
     <div class="review">
                    <img src="https://web.archive.org/web/20160406052336im_/http://www.eg-dg-bg.com/gallery/crop/6486999.gif" alt="Богоровци-сред-най---добрите-на-матурите-в-страната" align="left" width="140">
                <h3><a href="https://web.archive.orghttps://web.archive.org/web/20160406052336/http://dimitrovgrad.bgvesti.net/news/159390/I-Ezikovata-v-Dimitrovgrad-se-pohvali-s-uspehi-na-maturite#.U5he_78q5OU.facebook" target="_blank">Богоровци сред най - добрите на матурите в страната</a></h3> 
        11-06-2014 / <a href="https://web.archive.org/web/20160406052336/http://www.eg-dg-bg.com/news/cat/8/Dimitrovgrad-bgvesti-net" target="_blank">Dimitrovgrad.bgvesti.net</a>        
      </div>
      <br>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
     <div class="review">
                    <img src="https://web.archive.org/web/20160406052336im_/http://www.eg-dg-bg.com/gallery/crop/6486999.gif" alt="ЕГ-домакин-на-VII-Областен-форум-на-ученическите-клубове-за-извънкласна-дейност" align="left" width="140">
                <h3><a href="https://web.archive.orghttps://web.archive.org/web/20160406052336/http://dimitrovgrad.bgvesti.net/news/157220/568-uchenici-ot-61-kluba-v-oblastta-pokazvat-talanti-v-%E2%80%9EZarya%E2%80%9D#.U3dM2lLaa-A.facebook" target="_blank">ЕГ домакин на VII Областен форум на ученическите клубове за извънкласна дейност</a></h3> 
        18-05-2014 / <a href="https://web.archive.org/web/20160406052336/http://www.eg-dg-bg.com/news/cat/8/Dimitrovgrad-bgvesti-net" target="_blank">Dimitrovgrad.bgvesti.net</a>        
      </div>
      <br>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
     <div class="review">
                    <img src="https://web.archive.org/web/20160406052336im_/http://www.eg-dg-bg.com/gallery/crop/6486999.gif" alt="Последен-учебен-ден-за-випуск-2014-" align="left" width="140">
                <h3><a href="https://web.archive.orghttps://web.archive.org/web/20160406052336/http://dimitrovgrad.bgvesti.net/news/157043/45-zrelostnici-izprati-Ezikovata-gimnaziya-v-Dimitrovgrad#.U3S0tnFwE3Q.facebook" target="_blank">Последен учебен ден за випуск 2014 </a></h3> 
        16-05-2014 / <a href="https://web.archive.org/web/20160406052336/http://www.eg-dg-bg.com/news/cat/8/Dimitrovgrad-bgvesti-net" target="_blank">Dimitrovgrad.bgvesti.net</a>        
      </div>
      <br>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
     <div class="review">
                    <img src="https://web.archive.org/web/20160406052336im_/http://www.eg-dg-bg.com/gallery/crop/6486999.gif" alt="Учител-от-ЕГ-с-награда-Учител-на-годината-за-2014" align="left" width="140">
                <h3><a href="https://web.archive.orghttps://web.archive.org/web/20160406052336/http://dimitrovgrad.bgvesti.net/news/156903/Opredeliha-uchitelite-ot-Dimitrovgrad,-koito-poluchavat-nagradi-na-24-may#.U3Mt_LnSUjY.facebook" target="_blank">Учител от ЕГ с награда "Учител на годината" за 2014</a></h3> 
        14-05-2014 / <a href="https://web.archive.org/web/20160406052336/http://www.eg-dg-bg.com/news/cat/8/Dimitrovgrad-bgvesti-net" target="_blank">Dimitrovgrad.bgvesti.net</a>        
      </div>
      <br>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
     <div class="review">
                    <img src="https://web.archive.org/web/20160406052336im_/http://www.eg-dg-bg.com/gallery/crop/3955699.jpg" alt="Валя-Лозева-от-9в-клас----Кмет-на-Димитровград-за-един-ден" align="left" width="140">
                <h3><a href="https://web.archive.orghttps://web.archive.org/web/20160406052336/http://dgpazar.eu/index.php?page=News&amp;id=13773" target="_blank">Валя Лозева от 9в клас  - Кмет на Димитровград за един ден</a></h3> 
        10-05-2014 / <a href="https://web.archive.org/web/20160406052336/http://www.eg-dg-bg.com/news/cat/12/DGPAZAR-eu" target="_blank">DGPAZAR.eu</a>        
      </div>
      <br>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
        <div class="grid_18" style="clear:both">
     <div class="review">
                    <img src="https://web.archive.org/web/20160406052336im_/http://www.eg-dg-bg.com/gallery/crop/4882247.png" alt="Валя-Лозева-от-9в-клас----Кмет-на-Димитровград-за-един-ден" align="left" width="140">
                <h3><a href="https://web.archive.orghttps://web.archive.org/web/20160406052336/http://izvestnik.info/%D0%BA%D0%BC%D0%B5%D1%82%D1%8A%D1%82-%D0%BA%D1%8A%D0%BC-%D0%BA%D0%BC%D0%B5%D1%82%D0%B8%D1%86%D0%B0%D1%82%D0%B0-%D0%B7%D0%B0-%D0%B5%D0%B4%D0%B8%D0%BD-%D0%B4%D0%B5%D0%BD-%D0%B0%D0%BA%D0%BE-%D0%B7%D0%BD/" target="_blank">Валя Лозева от 9в клас  - Кмет на Димитровград за един ден</a></h3> 
        10-05-2014 / <a href="https://web.archive.org/web/20160406052336/http://www.eg-dg-bg.com/news/cat/9/Izvestnik-info" target="_blank">Izvestnik.info</a>        
      </div>
      <br>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
    </div>
          
    <div><div class="pages"><ul>1</ul></div></div> 
    </div>      
</div>