@{
    ViewData["Title"] = "Полезни връзки";
}

<div class="grid">
          <h2>Полезни връзки</h2>
          <div>
              <ul>
                                    <li><a href="https://web.archive.org/web/20160406072704/http://www.studentite-at.com/" target="_blank">Сайт на студентите във Виена или как да започнете да учите във Виена</a></li>
                                    <li><a href="https://web.archive.org/web/20160406072704/http://www.riobg.com/" target="_blank">Регионален инспекторат по образование</a></li>
                                    <li><a href="https://web.archive.org/web/20160406072704/http://schools.haskovo.net/" target="_blank">Училището - как, къде, защо?</a></li>
                                    <li><a href="https://web.archive.org/web/20160406072704/http://www.mon.bg/" target="_blank">Министерство на образованието и науката</a></li>
                                    <li><a href="https://web.archive.org/web/20160406072704/http://www.haskovo.net/" target="_blank">Хасково.НЕТ - Информационния портал на Хасково</a></li>
                                </ul>
          </div>
        </div>