@{
    ViewData["Title"] = "Вестник";
}

<div class="grid">
      <h2>Училищен вестник</h2>
      <div>
          <ul>
                            <li><a href="/web/20210225125019/http://www.eg-dg-bg.com/gallery/8851936.pdf">в-к "Училищен живот" - 2012г.</a></li>
                            <li><a href="/web/20210225125019/http://www.eg-dg-bg.com/gallery/9153507.pdf">в-к "Училищен живот" - 2013г. стр.1</a></li>
                            <li><a href="/web/20210225125019/http://www.eg-dg-bg.com/gallery/8386130.pdf">в-к "Училищен живот" - 2013г. стр.2</a></li>
                            <li><a href="/web/20210225125019/http://www.eg-dg-bg.com/gallery/6144808.pdf">в-к "Училищен живот" - 2013г. стр.3</a></li>
                            <li><a href="/web/20210225125019/http://www.eg-dg-bg.com/gallery/9406518.pdf">в-к "Училищен живот" - 2013г. стр.4 - 5</a></li>
                            <li><a href="/web/20210225125019/http://www.eg-dg-bg.com/gallery/6789240.pdf">в-к "Училищен живот" - 2013г. стр.6</a></li>
                            <li><a href="/web/20210225125019/http://www.eg-dg-bg.com/gallery/8412721.pdf">в-к "Училищен живот" - 2013г. стр.7</a></li>
                            <li><a href="/web/20210225125019/http://www.eg-dg-bg.com/gallery/">в-к "Училищен живот" - 2013г. стр.8</a></li>
                        </ul>
      </div>
    </div>
