@{
    ViewData["Title"] = "Новини";
}
<h1>@ViewData["Title"]</h1>

<div class="grid_18" style="clear:both">
      <h3>„ДОН КИХОТ“ НА ЕЗИКА НА СЕРВАНТЕС</h3>
      <div class="review">
            
                    <a href="/web/20210507111703/http://www.eg-dg-bg.com/gallery/big/6057136.jpg" align="left" rel="gal" class="color3 cboxElement"><img src="/web/20210507111703im_/http://www.eg-dg-bg.com/gallery/crop/6057136.jpg" alt="„ДОН-КИХОТ“-НА-ЕЗИКА-НА-СЕРВАНТЕС" align="left" width="140"></a>
                27-04-2021 / <a href="/web/20210507111703/http://www.eg-dg-bg.com/news/cat/6/SCHOOL-LIFE">SCHOOL LIFE</a>
        <br>
          В автономната област Каталуния със столица Барселона има прекрасна традиция - на 23 април да се подарява книга.   През 1995 година тази дата е обявена за Международен ден на книгата,  отдавайки...
        
        <p>        
            <a href="/web/20210507111703/http://www.eg-dg-bg.com/news/2748/„ДОН-КИХОТ“-НА-ЕЗИКА-НА-СЕРВАНТЕС">Прочети цялата</a>
        </p>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
        <div class="grid_18" style="clear:both">
      <h3>НА ПАТРОННИЯ ПРАЗНИК - ИСТОРИЯ С ПРОДЪЛЖЕНИЕ </h3>
      <div class="review">
            
                    <a href="/web/20210507111703/http://www.eg-dg-bg.com/gallery/big/4467215.jpg" align="left" rel="gal" class="color3 cboxElement"><img src="/web/20210507111703im_/http://www.eg-dg-bg.com/gallery/crop/4467215.jpg" alt="НА-ПАТРОННИЯ-ПРАЗНИК---ИСТОРИЯ-С-ПРОДЪЛЖЕНИЕ-" align="left" width="140"></a>
                21-04-2021 / <a href="/web/20210507111703/http://www.eg-dg-bg.com/news/cat/6/SCHOOL-LIFE">SCHOOL LIFE</a>
        <br>
         Това беше  творческата игра, с която на 20 април &nbsp;ученици от 11.клас &nbsp;на ПЕГ “Д-р Иван Богоров“ - Димитровград се включиха в Маратона на четенето, организиран от Градска...
        
        <p>        
            <a href="/web/20210507111703/http://www.eg-dg-bg.com/news/2747/НА-ПАТРОННИЯ-ПРАЗНИК---ИСТОРИЯ-С-ПРОДЪЛЖЕНИЕ-">Прочети цялата</a>
        </p>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
        <div class="grid_18" style="clear:both">
      <h3>Поздрав от Добромир Зафиров за празника</h3>
      <div class="review">
            
                    <a href="/web/20210507111703/http://www.eg-dg-bg.com/gallery/big/3297019.jpg" align="left" rel="gal" class="color3 cboxElement"><img src="/web/20210507111703im_/http://www.eg-dg-bg.com/gallery/crop/3297019.jpg" alt="Поздрав-от-Добромир-Зафиров-за-празника" align="left" width="140"></a>
                20-04-2021 / <a href="/web/20210507111703/http://www.eg-dg-bg.com/news/cat/6/SCHOOL-LIFE">SCHOOL LIFE</a>
        <br>
         
 Честит празник на Езиковата гимназия в Димитровград - училището, в което минаха прекрасни 5 години от живота ми! През всички тях винаги съм утвърждавал името на гимназията си във всяко едно...
        
        <p>        
            <a href="/web/20210507111703/http://www.eg-dg-bg.com/news/2746/Поздрав-от-Добромир-Зафиров-за-празника">Прочети цялата</a>
        </p>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
        <div class="grid_18" style="clear:both">
      <h3>УСПЕХИ НА НАЦИОНАЛНИТЕ ОЛИМПИАДИ</h3>
      <div class="review">
            
                    <a href="/web/20210507111703/http://www.eg-dg-bg.com/gallery/big/8964667.jpg" align="left" rel="gal" class="color3 cboxElement"><img src="/web/20210507111703im_/http://www.eg-dg-bg.com/gallery/crop/8964667.jpg" alt="УСПЕХИ-НА-НАЦИОНАЛНИТЕ-ОЛИМПИАДИ" align="left" width="140"></a>
                17-04-2021 / <a href="/web/20210507111703/http://www.eg-dg-bg.com/news/cat/6/SCHOOL-LIFE">SCHOOL LIFE</a>
        <br>
         Дори в сложната епидемиологична обстановка богоровци потвърдиха традиционно силното си представяне на областните олимпиади. 

  За Националния кръг на олимпиадата по гражданско образование се...
        
        <p>        
            <a href="/web/20210507111703/http://www.eg-dg-bg.com/news/2745/УСПЕХИ-НА-НАЦИОНАЛНИТЕ-ОЛИМПИАДИ">Прочети цялата</a>
        </p>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
        <div class="grid_18" style="clear:both">
      <h3>ОТНОВО „НЕОХИМ“ КАТО ЖЕЛАН ДОМАКИН</h3>
      <div class="review">
            
                    <a href="/web/20210507111703/http://www.eg-dg-bg.com/gallery/big/5667601.jpg" align="left" rel="gal" class="color3 cboxElement"><img src="/web/20210507111703im_/http://www.eg-dg-bg.com/gallery/crop/5667601.jpg" alt="ОТНОВО-„НЕОХИМ“-КАТО-ЖЕЛАН-ДОМАКИН" align="left" width="140"></a>
                17-04-2021 / <a href="/web/20210507111703/http://www.eg-dg-bg.com/news/cat/6/SCHOOL-LIFE">SCHOOL LIFE</a>
        <br>
          За подпомагане на професионалната ориентация на учениците от Езикова гимназия се възобновява ежегодното посещение на ученици от 12. класове в „Неохим”АД, едно от мощните промишлени...
        
        <p>        
            <a href="/web/20210507111703/http://www.eg-dg-bg.com/news/2744/ОТНОВО-„НЕОХИМ“-КАТО-ЖЕЛАН-ДОМАКИН">Прочети цялата</a>
        </p>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
        <div class="grid_18" style="clear:both">
      <h3>ДОБРАТА НОВИНА</h3>
      <div class="review">
            
                    <a href="/web/20210507111703/http://www.eg-dg-bg.com/gallery/big/5936626.jpg" align="left" rel="gal" class="color3 cboxElement"><img src="/web/20210507111703im_/http://www.eg-dg-bg.com/gallery/crop/5936626.jpg" alt="ДОБРАТА-НОВИНА" align="left" width="140"></a>
                17-04-2021 / <a href="/web/20210507111703/http://www.eg-dg-bg.com/news/cat/6/SCHOOL-LIFE">SCHOOL LIFE</a>
        <br>
          На 05 април&nbsp; тази година между&nbsp; ПЕГ „Д-р Иван Богоров” и ПУ „Паисий Хилендарски” беше подписано споразумение за сътрудничество по линия на профилираното обучение...
        
        <p>        
            <a href="/web/20210507111703/http://www.eg-dg-bg.com/news/2743/ДОБРАТА-НОВИНА">Прочети цялата</a>
        </p>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
        <div class="grid_18" style="clear:both">
      <h3>ЗАПОВЕД НА ДИРЕКТОРА ЗА ОБУЧЕНИЕ В ОРЕС И ПРИСЪСТВЕНО</h3>
      <div class="review">
            
                    <a href="/web/20210507111703/http://www.eg-dg-bg.com/gallery/big/2593189.jpg" align="left" rel="gal" class="color3 cboxElement"><img src="/web/20210507111703im_/http://www.eg-dg-bg.com/gallery/crop/2593189.jpg" alt="ЗАПОВЕД-НА-ДИРЕКТОРА-ЗА-ОБУЧЕНИЕ-В-ОРЕС-И-ПРИСЪСТВЕНО" align="left" width="140"></a>
                12-04-2021 / <a href="/web/20210507111703/http://www.eg-dg-bg.com/news/cat/6/SCHOOL-LIFE">SCHOOL LIFE</a>
        <br>
        
        
        <p>        
            <a href="/web/20210507111703/http://www.eg-dg-bg.com/news/2742/ЗАПОВЕД-НА-ДИРЕКТОРА-ЗА-ОБУЧЕНИЕ-В-ОРЕС-И-ПРИСЪСТВЕНО">Прочети цялата</a>
        </p>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
        <div class="grid_18" style="clear:both">
      <h3>СПЕЦИАЛНО СПОРАЗУМЕНИЕ МЕЖДУ ПУ "ПАИСИЙ ХИЛЕНДАРСКИ" И ПЕГ "Д-р ИВАН БОГОРОВ"</h3>
      <div class="review">
            
                    <a href="/web/20210507111703/http://www.eg-dg-bg.com/gallery/big/8782928.jpg" align="left" rel="gal" class="color3 cboxElement"><img src="/web/20210507111703im_/http://www.eg-dg-bg.com/gallery/crop/8782928.jpg" alt="СПЕЦИАЛНО-СПОРАЗУМЕНИЕ-МЕЖДУ-ПУ-ПАИСИЙ-ХИЛЕНДАРСКИ-И-ПЕГ-Д-р-ИВАН-БОГОРОВ" align="left" width="140"></a>
                05-04-2021 / <a href="/web/20210507111703/http://www.eg-dg-bg.com/news/cat/6/SCHOOL-LIFE">SCHOOL LIFE</a>
        <br>
         Вече е факт официалното споразумение  между ПЕГ“Д-р Иван Богоров“ – Димитровград и три факултета от ПУ“Паисий Хилендарски“- Биологичен, Физико – технологичен и...
        
        <p>        
            <a href="/web/20210507111703/http://www.eg-dg-bg.com/news/2740/СПЕЦИАЛНО-СПОРАЗУМЕНИЕ-МЕЖДУ-ПУ-ПАИСИЙ-ХИЛЕНДАРСКИ-И-ПЕГ-Д-р-ИВАН-БОГОРОВ">Прочети цялата</a>
        </p>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
        <div class="grid_18" style="clear:both">
      <h3>ГРАФИК НА ИЗПИТИТЕ ЗА СФО АПРИЛ 2021 Г</h3>
      <div class="review">
            
                    <a href="/web/20210507111703/http://www.eg-dg-bg.com/gallery/big/8246580.jpg" align="left" rel="gal" class="color3 cboxElement"><img src="/web/20210507111703im_/http://www.eg-dg-bg.com/gallery/crop/8246580.jpg" alt="ГРАФИК-НА-ИЗПИТИТЕ-ЗА-СФО-АПРИЛ-2021-Г" align="left" width="140"></a>
                01-04-2021 / <a href="/web/20210507111703/http://www.eg-dg-bg.com/news/cat/6/SCHOOL-LIFE">SCHOOL LIFE</a>
        <br>
        
        
        <p>        
            <a href="/web/20210507111703/http://www.eg-dg-bg.com/news/2739/ГРАФИК-НА-ИЗПИТИТЕ-ЗА-СФО-АПРИЛ-2021-Г">Прочети цялата</a>
        </p>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
        <div class="grid_18" style="clear:both">
      <h3>Заповед на министъра на образованието и науката относно ваканцията!!!</h3>
      <div class="review">
            
                    <a href="/web/20210507111703/http://www.eg-dg-bg.com/gallery/big/1789390.jpg" align="left" rel="gal" class="color3 cboxElement"><img src="/web/20210507111703im_/http://www.eg-dg-bg.com/gallery/crop/1789390.jpg" alt="Заповед-на-министъра-на-образованието-и-науката-относно-ваканцията!!!" align="left" width="140"></a>
                01-04-2021 / <a href="/web/20210507111703/http://www.eg-dg-bg.com/news/cat/6/SCHOOL-LIFE">SCHOOL LIFE</a>
        <br>
        
        
        <p>        
            <a href="/web/20210507111703/http://www.eg-dg-bg.com/news/2738/Заповед-на-министъра-на-образованието-и-науката-относно-ваканцията!!!">Прочети цялата</a>
        </p>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
        <div class="grid_18" style="clear:both">
      <h3>Семинар по география - Съвременно икономическо развитие  </h3>
      <div class="review">
            
                    <a href="/web/20210507111703/http://www.eg-dg-bg.com/gallery/big/5731496.jpg" align="left" rel="gal" class="color3 cboxElement"><img src="/web/20210507111703im_/http://www.eg-dg-bg.com/gallery/crop/5731496.jpg" alt="Семинар-по-география---Съвременно-икономическо-развитие--" align="left" width="140"></a>
                26-03-2021 / <a href="/web/20210507111703/http://www.eg-dg-bg.com/news/cat/6/SCHOOL-LIFE">SCHOOL LIFE</a>
        <br>
          От 16.03.2021 г. до 23.03.2021 г. се проведе семинар под надслов -„Съвременно икономическо развитие“. Участниците - ученици от двете групи на Профил – „География и...
        
        <p>        
            <a href="/web/20210507111703/http://www.eg-dg-bg.com/news/2737/Семинар-по-география---Съвременно-икономическо-развитие--">Прочети цялата</a>
        </p>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
        <div class="grid_18" style="clear:both">
      <h3>Награда от конкурса "Водата - извор на живот"</h3>
      <div class="review">
            
                    <a href="/web/20210507111703/http://www.eg-dg-bg.com/gallery/big/6413546.jpg" align="left" rel="gal" class="color3 cboxElement"><img src="/web/20210507111703im_/http://www.eg-dg-bg.com/gallery/crop/6413546.jpg" alt="Награда-от-конкурса-Водата---извор-на-живот" align="left" width="140"></a>
                23-03-2021 / <a href="/web/20210507111703/http://www.eg-dg-bg.com/news/cat/6/SCHOOL-LIFE">SCHOOL LIFE</a>
        <br>
         Осмокласничката  Мария Христова  бе отличена с трето място в  Националния конкурс за рисунка и приложно изкуство "Водата - извор на живот",  организирано от Център за личностно развитие...
        
        <p>        
            <a href="/web/20210507111703/http://www.eg-dg-bg.com/news/2736/Награда-от-конкурса-Водата---извор-на-живот">Прочети цялата</a>
        </p>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
        <div class="grid_18" style="clear:both">
      <h3>Отборът БЕСТ отива на Национално</h3>
      <div class="review">
            
                    <a href="/web/20210507111703/http://www.eg-dg-bg.com/gallery/big/5748344.jpg" align="left" rel="gal" class="color3 cboxElement"><img src="/web/20210507111703im_/http://www.eg-dg-bg.com/gallery/crop/5748344.jpg" alt="Отборът-БЕСТ-отива-на-Национално" align="left" width="140"></a>
                20-03-2021 / <a href="/web/20210507111703/http://www.eg-dg-bg.com/news/cat/6/SCHOOL-LIFE">SCHOOL LIFE</a>
        <br>
         На 13 и 14 март се състоя  Пролетното източно регионално състезание по реч и дебати на английски език, организирано от фондация „БЕСТ“.  Форумът е втори пореден за тази учебна година и...
        
        <p>        
            <a href="/web/20210507111703/http://www.eg-dg-bg.com/news/2735/Отборът-БЕСТ-отива-на-Национално">Прочети цялата</a>
        </p>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
        <div class="grid_18" style="clear:both">
      <h3>Ден на поезията</h3>
      <div class="review">
            
                    <a href="/web/20210507111703/http://www.eg-dg-bg.com/gallery/big/461437.jpg" align="left" rel="gal" class="color3 cboxElement"><img src="/web/20210507111703im_/http://www.eg-dg-bg.com/gallery/crop/461437.jpg" alt="Ден-на-поезията" align="left" width="140"></a>
                20-03-2021 / <a href="/web/20210507111703/http://www.eg-dg-bg.com/news/cat/6/SCHOOL-LIFE">SCHOOL LIFE</a>
        <br>
          На 19.03. възпитаниците на ПЕГ „Д-р Иван Богоров“ отбелязаха Световния ден на поезията като на гости ни беше успешната млада писателка Даян Шаер.  

  Срещата се&nbsp; проведе...
        
        <p>        
            <a href="/web/20210507111703/http://www.eg-dg-bg.com/news/2734/Ден-на-поезията">Прочети цялата</a>
        </p>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
        <div class="grid_18" style="clear:both">
      <h3>Обучение в електронна среда от разстояние(ОРЕС)</h3>
      <div class="review">
            
                    <a href="/web/20210507111703/http://www.eg-dg-bg.com/gallery/big/9074724.jpg" align="left" rel="gal" class="color3 cboxElement"><img src="/web/20210507111703im_/http://www.eg-dg-bg.com/gallery/crop/9074724.jpg" alt="Обучение-в-електронна-среда-от-разстояние(ОРЕС)" align="left" width="140"></a>
                11-03-2021 / <a href="/web/20210507111703/http://www.eg-dg-bg.com/news/cat/6/SCHOOL-LIFE">SCHOOL LIFE</a>
        <br>
         Уважаеми колеги, родители и ученици, 

 след заседание на Oбластния кризисен щаб за борба с COVID-19 и решение на кмета на община Димитровград Иво Димов, считано  от утре 12.03.2021г. до...
        
        <p>        
            <a href="/web/20210507111703/http://www.eg-dg-bg.com/news/2731/Обучение-в-електронна-среда-от-разстояние(ОРЕС)">Прочети цялата</a>
        </p>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
        <div class="grid_18" style="clear:both">
      <h3>ПРАВАТА НА ЖЕНИТЕ В ДНЕШНИЯ СВЯТ</h3>
      <div class="review">
            
                    <a href="/web/20210507111703/http://www.eg-dg-bg.com/gallery/big/2420236.jpg" align="left" rel="gal" class="color3 cboxElement"><img src="/web/20210507111703im_/http://www.eg-dg-bg.com/gallery/crop/2420236.jpg" alt="ПРАВАТА-НА-ЖЕНИТЕ-В-ДНЕШНИЯ-СВЯТ" align="left" width="140"></a>
                10-03-2021 / <a href="/web/20210507111703/http://www.eg-dg-bg.com/news/cat/6/SCHOOL-LIFE">SCHOOL LIFE</a>
        <br>
          На 8 март&nbsp; тази интересна тема обсъждаха&nbsp; онлайн младшите посланици на Европейския парламент в ПЕГ“Д-р Иван Боров“ с &nbsp;д-р фил.н. Калина Жекова – преподавател в...
        
        <p>        
            <a href="/web/20210507111703/http://www.eg-dg-bg.com/news/2730/ПРАВАТА-НА-ЖЕНИТЕ-В-ДНЕШНИЯ-СВЯТ">Прочети цялата</a>
        </p>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
        <div class="grid_18" style="clear:both">
      <h3>Кандидатстудентски прием в Техническия университет</h3>
      <div class="review">
            
                    <a href="/web/20210507111703/http://www.eg-dg-bg.com/gallery/big/6246030.jpg" align="left" rel="gal" class="color3 cboxElement"><img src="/web/20210507111703im_/http://www.eg-dg-bg.com/gallery/crop/6246030.jpg" alt="Кандидатстудентски-прием-в-Техническия-университет" align="left" width="140"></a>
                02-03-2021 / <a href="/web/20210507111703/http://www.eg-dg-bg.com/news/cat/6/SCHOOL-LIFE">SCHOOL LIFE</a>
        <br>
         За вас бъдещи кандидат студенти. Това са предложенията на Технически университет, гр. Габрово за специалности и реализация.&nbsp; 

        
        <p>        
            <a href="/web/20210507111703/http://www.eg-dg-bg.com/news/2729/Кандидатстудентски-прием-в-Техническия-университет">Прочети цялата</a>
        </p>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
        <div class="grid_18" style="clear:both">
      <h3>ОПРОВЕРЖЕНИЕ НА НЕТОЧНА ИНФОРМАЦИЯ</h3>
      <div class="review">
            
                18-02-2021 / <a href="/web/20210507111703/http://www.eg-dg-bg.com/news/cat/6/SCHOOL-LIFE">SCHOOL LIFE</a>
        <br>
         По повод на тиражирана неточна информация в местните електронни медии ръководството на ПЕГ "Д-р Иван Богоров", гр. Димитровград съобщава, че в гиманзията  НЯМА болен преподавател и...
        
        <p>        
            <a href="/web/20210507111703/http://www.eg-dg-bg.com/news/2726/ОПРОВЕРЖЕНИЕ-НА-НЕТОЧНА-ИНФОРМАЦИЯ">Прочети цялата</a>
        </p>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
        <div class="grid_18" style="clear:both">
      <h3>УЧИЛИЩЕ ПОСЛАНИК НА ЕВРОПЕЙСКИЯ ПАРЛАМЕНТ ЗА МЕСЕЦ ЯНУАРИ</h3>
      <div class="review">
            
                    <a href="/web/20210507111703/http://www.eg-dg-bg.com/gallery/big/3051065.jpg" align="left" rel="gal" class="color3 cboxElement"><img src="/web/20210507111703im_/http://www.eg-dg-bg.com/gallery/crop/3051065.jpg" alt="УЧИЛИЩЕ-ПОСЛАНИК-НА-ЕВРОПЕЙСКИЯ-ПАРЛАМЕНТ-ЗА-МЕСЕЦ-ЯНУАРИ" align="left" width="140"></a>
                16-02-2021 / <a href="/web/20210507111703/http://www.eg-dg-bg.com/news/cat/6/SCHOOL-LIFE">SCHOOL LIFE</a>
        <br>
          ПЕГ „Д-р Иван Богоров“ е сред трите училища на месеца - за януари.  Победителите са избрани от  Бюрото на Европейския парламент в България.  От началото на 2021 г. всеки месец през...
        
        <p>        
            <a href="/web/20210507111703/http://www.eg-dg-bg.com/news/2725/УЧИЛИЩЕ-ПОСЛАНИК-НА-ЕВРОПЕЙСКИЯ-ПАРЛАМЕНТ-ЗА-МЕСЕЦ-ЯНУАРИ">Прочети цялата</a>
        </p>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
        <div class="grid_18" style="clear:both">
      <h3>За повече любов</h3>
      <div class="review">
            
                    <a href="/web/20210507111703/http://www.eg-dg-bg.com/gallery/big/3632666.jpg" align="left" rel="gal" class="color3 cboxElement"><img src="/web/20210507111703im_/http://www.eg-dg-bg.com/gallery/crop/3632666.jpg" alt="За-повече-любов" align="left" width="140"></a>
                12-02-2021 / <a href="/web/20210507111703/http://www.eg-dg-bg.com/news/cat/6/SCHOOL-LIFE">SCHOOL LIFE</a>
        <br>
         Това е идеята на&nbsp; един специален клип, който съдържа поетичен многоезичен поздрав. Клипът е заснет в самото начало на втория учебен срок като съвместна дейност на литературен клуб...
        
        <p>        
            <a href="/web/20210507111703/http://www.eg-dg-bg.com/news/2724/За-повече-любов">Прочети цялата</a>
        </p>
      </div>
      <div style="width:100%;height:1px; border-bottom:1px solid #000; clear:both"></div>
          
        </div>
    </div>      
</div>

            </div>
        </div>
        
        <!-- footer -->
        <div style="clear:both; margin-top:10px;height: 10px;"></div>
        <div class="footer">
            <div class="design">
                изработен от <a href="https://web.archive.org/web/20210507111703/http://www.escom.bg/" target="_blank">ESCOM LTD</a>
            </div>
        </div>
    </div>    
    

<!--
     FILE ARCHIVED ON 11:17:03 May 07, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:53:17 Feb 05, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
-->
<!--
playback timings (ms):
  captures_list: 321.087
  exclusion.robots: 0.167
  exclusion.robots.policy: 0.16
  RedisCDXSource: 137.606
  esindex: 0.008
  LoadShardBlock: 160.476 (3)
  PetaboxLoader3.datanode: 306.201 (4)
  CDXLines.iter: 20.215 (3)
  load_resource: 295.669
  PetaboxLoader3.resolve: 145.479
--></div></div></div></div></div></div></div></div></div></div></div></div></div></div>
