@{
    ViewData["Title"] = "Проекти";
}
<h1>@ViewData["Title"]</h1>

<div class="grid">
      <div>
            В момента няма добавена информация. Моля проверете по-късно!
            </div>
    </div>