@{
    ViewData["Title"] = "История на училището";
}

<div class="content">
  <div class="container_24">
    <div class="grid_18">
      <h2>История на училището</h2>
            <div>
                <p style="text-align: justify;"><span style="line-height:1.6; text-align:justify">В първите години на своето създаване училището носи името Езикова гимназия - гр. Димитровград. Тя възниква от две паралелки със засилено изучаване на чужди езици, сформирани през 1988 г. в СОУ „Васил Левски”, гр. Димитровград.</span></p>

<p style="text-align:justify">Това начинание се оказва успешно и в резултат на засиления интерес от страна на ученици и родители броят на паралелките се увеличава постепенно. От две във випуск, през далечната 1988 г., паралелките нарастват до 5 през 2003 г. Днес общият им брой е 16.</p>

<p style="text-align:justify">Нуждата от профилирана чуждоезикова подготовка на територията на гр. Димитровград е категорично заявена от обективната действителност. Със Заповед РД- 14 от 09.06.1993 г. на МОНТ се създава Езикова гимназия - гр. Димитровград. Този факт поставя началото на един труден път- пътят на откривателя, свързан с труд,&nbsp; положен от много хора, които са изградили&nbsp; това, което е днес ЕГ „Д-р Иван Богоров”- престижно училище с традиции и стил. През тези години гимназията успя да се появи, да се развие, да се утвърди, да се докаже, да се конкурира и да побеждава конкурентите си. Завладяно изцяло от прогресивен възрожденски дух за просвета, училището избира за свой патрон видния български възрожденец и ерудит д-р Иван Богоров. Със Заповед 1440 от 18.05.2001 г. на Министъра на образованието и науката то официално приема това име.</p>

<p style="text-align:justify">Днес Езикова гимназия „Д-р Иван Богоров” разполага със собствена сграда на бул. „Христо Ботев”№ 45. В базата са обособени кабинети по Информационни технологии, Немски език, Химия и опазване на околната среда, Биология и здравно образование, Физика и астрономия, Философия, Свят и личност, География и икономика. При нас се обучават повече от 400 ученици, а броят на завършилите е повече от 800.</p>

<p style="text-align:justify">От учебната 2007/2008 година ЕГ „Д-р Иван Богоров” е член на Асоциацията на Кеймбридж училищата.</p>

<p style="text-align:justify">На 16.12.2009 г. учениците на ЕГ „Д-р Иван Богоров” направиха своя избор за училищна униформа, която влезе в сила от 01.03.2010 г.</p>

<p style="text-align:justify">Основни профили за гимназията са чуждоезиковите- английски и немски език. От 2009 г. се изучават допълнително испански, италиански и руски език.</p>

        <br>
                        <div style="clear:both"></div>
        <div>
            <ul>
                            </ul>
        </div>
        
                <div>
            <span class="st_sharethis_large" displaytext="ShareThis"></span>
            <span class="st_facebook_large" displaytext="Facebook"></span>
            <span class="st_twitter_large" displaytext="Tweet"></span>
            <span class="st_linkedin_large" displaytext="LinkedIn"></span>
            <span class="st_pinterest_large" displaytext="Pinterest"></span>
            <span class="st_email_large" displaytext="Email"></span>
        </div>
            </div>
    </div>      
</div>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="https://web.archive.org/web/20160406072743js_/http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "9e780164-7f5f-4a10-984e-e7130246c65a", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

            </div>
        </div>