@{
    ViewData["Title"] = "Ученически съвет";
}

<div class="content">
  <div class="container_24">
    <div class="grid_18">
      <h2>Ученически съвет</h2>
            <div>
                <p><u><strong>Председател на Ученическия съвет:</strong></u>&nbsp;<strong style="line-height:1.6">Ирина Митева от ІХ а клас</strong></p>

<p><strong><u>Зам.-председател:</u> Бетина Димитрова от ХІ а клас</strong></p>

<div>&nbsp;</div>

<p><u><strong>Членове:&nbsp;</strong></u></p>

<p>&nbsp;</p>

<ol>
	<li>Александър Колев от VIII а клас</li>
	<li>Даниел Коджабашев от VIII а клас</li>
	<li>Кирил&nbsp; Кафтанов от VIII б клас</li>
	<li>Камелия Атанасова от VIII б клас</li>
	<li>Валентина Иванова от VIII в клас</li>
	<li>Иван Вълканов от VIII в клас</li>
	<li>Виктория Атанасова от&nbsp; IX а клас</li>
	<li>Моника Красимирова от IX а клас</li>
	<li>Делчо Колев&nbsp; от IX б клас</li>
	<li>Ради Господинов от IX б клас</li>
	<li>Kалина Златева &nbsp;от X а клас</li>
	<li>Божидара Рачкова от X б клас</li>
	<li>Пламена Райкова от X б клас</li>
	<li>Мария Обалиева от X б клас</li>
	<li>Ралица&nbsp; Атанасова от X в клас</li>
	<li>Габриела&nbsp; Бойчева от X в клас</li>
	<li>Анита Славова от X в клас</li>
	<li>Валерия Петрова от ХІ а клас</li>
	<li>Габриела Попова от ХІ а клас</li>
	<li>Стефани Николаева от ХІ а клас</li>
	<li>Михаела Петрова от ХІ б клас</li>
	<li>Диана Близнакова от ХІ б клас</li>
	<li>Антонио Бушев от ХІ в клас</li>
	<li>Валя Лозева от ХІ в клас</li>
	<li>Николета Георгиева от ХІ в клас</li>
	<li>Яница Данчева от ХІІ а клас</li>
	<li>Златина Краева от ХІІ а клас</li>
	<li>Богомила&nbsp; Илиева от ХІІ б клас</li>
	<li>Аглая&nbsp; Неделчева от ХІІ б клас</li>
	<li>Маргарита Димитрова от ХІІ б клас</li>
</ol>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><strong><em>Според действащия статут на УС, в него могат да членуват от един до трима представители от клас, избрани на Общо събрание на съответния клас.</em></strong></p>

<p style="text-align:right"><span style="background-color:rgb(255, 255, 255); color:rgb(51, 51, 51); font-family:sans-serif,arial,verdana,trebuchet ms; font-size:13px"><strong>Ръководител Педагогически съветник: </strong>Весела Недкова</span></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

        <br>
                        <div style="clear:both"></div>
        <div>
            <ul>
                            </ul>
        </div>
        
                <div>
            <span class="st_sharethis_large" displaytext="ShareThis" st_processed="yes"><span style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;" class="stButton"><span class="stLarge" style="background-image: url(&quot;https://web.archive.org/web/20160406074250/http://w.sharethis.com/images/sharethis_32.png&quot;);"></span></span></span>
            <span class="st_facebook_large" displaytext="Facebook" st_processed="yes"><span style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;" class="stButton"><span class="stLarge" style="background-image: url(&quot;https://web.archive.org/web/20160406074250/http://w.sharethis.com/images/facebook_32.png&quot;);"></span></span></span>
            <span class="st_twitter_large" displaytext="Tweet" st_processed="yes"><span style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;" class="stButton"><span class="stLarge" style="background-image: url(&quot;https://web.archive.org/web/20160406074250/http://w.sharethis.com/images/twitter_32.png&quot;);"></span></span></span>
            <span class="st_linkedin_large" displaytext="LinkedIn" st_processed="yes"><span style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;" class="stButton"><span class="stLarge" style="background-image: url(&quot;https://web.archive.org/web/20160406074250/http://w.sharethis.com/images/linkedin_32.png&quot;);"></span></span></span>
            <span class="st_pinterest_large" displaytext="Pinterest" st_processed="yes"><span style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;" class="stButton"><span class="stLarge" style="background-image: url(&quot;https://web.archive.org/web/20160406074250/http://w.sharethis.com/images/pinterest_32.png&quot;);"></span></span></span>
            <span class="st_email_large" displaytext="Email" st_processed="yes"><span style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;" class="stButton"><span class="stLarge" style="background-image: url(&quot;https://web.archive.org/web/20160406074250/http://w.sharethis.com/images/email_32.png&quot;);"></span></span></span>
        </div>
            </div>
    </div>      
</div>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="https://web.archive.org/web/20160406074430js_/http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "9e780164-7f5f-4a10-984e-e7130246c65a", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

            </div>
        </div>