@{
    ViewData["Title"] = "Колектив";
}
<div class="grid">
      <h2>За нас  / <a href="/web/20180224202809/http://www.eg-dg-bg.com/aboutus/21/Колектив">Колектив</a> / Класни ръководители </h2>
                                                <div>
          <h3>Класен ръководител</h3>
                              <div class="review">
            <ul>  
                <li class="image">
                                
                <a href="/web/20180224202809/http://www.eg-dg-bg.com/aboutus/details/2209/Бистра-Жекова" align="left"><img src="/web/20180224202809im_/http://www.eg-dg-bg.com/images/silhouette.png" alt="" class="img_inner fleft" width="150"></a>
                                <br>
                <a href="/web/20180224202809/http://www.eg-dg-bg.com/aboutus/details/2209/Бистра-Жекова" align="left">Бистра Жекова</a>
                </li>
            </ul>
          </div>
                                                    <div class="review">
            <ul>  
                <li class="image">
                                
                <a href="/web/20180224202809/http://www.eg-dg-bg.com/aboutus/details/114/Атанаска-Даскалова---Тодорова" align="left"><img src="/web/20180224202809im_/http://www.eg-dg-bg.com/images/silhouette.png" alt="" class="img_inner fleft" width="150"></a>
                                <br>
                <a href="/web/20180224202809/http://www.eg-dg-bg.com/aboutus/details/114/Атанаска-Даскалова---Тодорова" align="left">Атанаска Даскалова - Тодорова</a>
                </li>
            </ul>
          </div>
                                                    <div class="review">
            <ul>  
                <li class="image">
                                
                <a href="/web/20180224202809/http://www.eg-dg-bg.com/aboutus/details/1321/Екатерина-Костова" align="left"><img src="/web/20180224202809im_/http://www.eg-dg-bg.com/images/silhouette.png" alt="" class="img_inner fleft" width="150"></a>
                                <br>
                <a href="/web/20180224202809/http://www.eg-dg-bg.com/aboutus/details/1321/Екатерина-Костова" align="left">Екатерина Костова</a>
                </li>
            </ul>
          </div>
                                                    <div class="review">
            <ul>  
                <li class="image">
                                
                <a href="/web/20180224202809/http://www.eg-dg-bg.com/aboutus/details/1322/Анелия-Александрова" align="left"><img src="/web/20180224202809im_/http://www.eg-dg-bg.com/images/silhouette.png" alt="" class="img_inner fleft" width="150"></a>
                                <br>
                <a href="/web/20180224202809/http://www.eg-dg-bg.com/aboutus/details/1322/Анелия-Александрова" align="left">Анелия Александрова</a>
                </li>
            </ul>
          </div>
                      <div style="clear:both"></div>
                                          <div class="review">
            <ul>  
                <li class="image">
                                
                <a href="/web/20180224202809/http://www.eg-dg-bg.com/aboutus/details/653/Йовелина-Бойчева--Тенева" align="left"><img src="/web/20180224202809im_/http://www.eg-dg-bg.com/images/silhouette.png" alt="" class="img_inner fleft" width="150"></a>
                                <br>
                <a href="/web/20180224202809/http://www.eg-dg-bg.com/aboutus/details/653/Йовелина-Бойчева--Тенева" align="left">Йовелина Бойчева- Тенева</a>
                </li>
            </ul>
          </div>
                                                    <div class="review">
            <ul>  
                <li class="image">
                                
                <a href="/web/20180224202809/http://www.eg-dg-bg.com/aboutus/details/115/Иванка-Андреева" align="left"><img src="/web/20180224202809im_/http://www.eg-dg-bg.com/images/silhouette.png" alt="" class="img_inner fleft" width="150"></a>
                                <br>
                <a href="/web/20180224202809/http://www.eg-dg-bg.com/aboutus/details/115/Иванка-Андреева" align="left">Иванка Андреева</a>
                </li>
            </ul>
          </div>
                                                    <div class="review">
            <ul>  
                <li class="image">
                                
                <a href="/web/20180224202809/http://www.eg-dg-bg.com/aboutus/details/51/Мария-Янева" align="left"><img src="/web/20180224202809im_/http://www.eg-dg-bg.com/images/silhouette.png" alt="" class="img_inner fleft" width="150"></a>
                                <br>
                <a href="/web/20180224202809/http://www.eg-dg-bg.com/aboutus/details/51/Мария-Янева" align="left">Мария Янева</a>
                </li>
            </ul>
          </div>
                                                    <div class="review">
            <ul>  
                <li class="image">
                                
                <a href="/web/20180224202809/http://www.eg-dg-bg.com/aboutus/details/52/Тодор-Тодоров" align="left"><img src="/web/20180224202809im_/http://www.eg-dg-bg.com/images/silhouette.png" alt="" class="img_inner fleft" width="150"></a>
                                <br>
                <a href="/web/20180224202809/http://www.eg-dg-bg.com/aboutus/details/52/Тодор-Тодоров" align="left">Тодор Тодоров</a>
                </li>
            </ul>
          </div>
                      <div style="clear:both"></div>
                                          <div class="review">
            <ul>  
                <li class="image">
                                
                <a href="/web/20180224202809/http://www.eg-dg-bg.com/aboutus/details/107/Антоанета-Коджабашева" align="left"><img src="/web/20180224202809im_/http://www.eg-dg-bg.com/images/silhouette.png" alt="" class="img_inner fleft" width="150"></a>
                                <br>
                <a href="/web/20180224202809/http://www.eg-dg-bg.com/aboutus/details/107/Антоанета-Коджабашева" align="left">Антоанета Коджабашева</a>
                </li>
            </ul>
          </div>
                                                    <div class="review">
            <ul>  
                <li class="image">
                                
                <a href="/web/20180224202809/http://www.eg-dg-bg.com/aboutus/details/108/Хилда-Мартинова" align="left"><img src="/web/20180224202809im_/http://www.eg-dg-bg.com/images/silhouette.png" alt="" class="img_inner fleft" width="150"></a>
                                <br>
                <a href="/web/20180224202809/http://www.eg-dg-bg.com/aboutus/details/108/Хилда-Мартинова" align="left">Хилда Мартинова</a>
                </li>
            </ul>
          </div>
                                                    <div class="review">
            <ul>  
                <li class="image">
                                
                <a href="/web/20180224202809/http://www.eg-dg-bg.com/aboutus/details/113/Веселина-Попова" align="left"><img src="/web/20180224202809im_/http://www.eg-dg-bg.com/images/silhouette.png" alt="" class="img_inner fleft" width="150"></a>
                                <br>
                <a href="/web/20180224202809/http://www.eg-dg-bg.com/aboutus/details/113/Веселина-Попова" align="left">Веселина Попова</a>
                </li>
            </ul>
          </div>
                                                    <div class="review">
            <ul>  
                <li class="image">
                                
                <a href="/web/20180224202809/http://www.eg-dg-bg.com/aboutus/details/111/Милена-Стойчева" align="left"><img src="/web/20180224202809im_/http://www.eg-dg-bg.com/images/silhouette.png" alt="" class="img_inner fleft" width="150"></a>
                                <br>
                <a href="/web/20180224202809/http://www.eg-dg-bg.com/aboutus/details/111/Милена-Стойчева" align="left">Милена Стойчева</a>
                </li>
            </ul>
          </div>
                      <div style="clear:both"></div>
                                          <div class="review">
            <ul>  
                <li class="image">
                                
                <a href="/web/20180224202809/http://www.eg-dg-bg.com/aboutus/details/112/Анелия-Койнова" align="left"><img src="/web/20180224202809im_/http://www.eg-dg-bg.com/images/silhouette.png" alt="" class="img_inner fleft" width="150"></a>
                                <br>
                <a href="/web/20180224202809/http://www.eg-dg-bg.com/aboutus/details/112/Анелия-Койнова" align="left">Анелия Койнова</a>
                </li>
            </ul>
          </div>
                                                    </div>
          <div style="clear:both"><p><br></p></div>
                                                                                                                                      </div>