@{
    ViewData["Title"] = "Кой е д-р Иван Богоров?";
}
<div class="grid_18">
      <h2>Кой е д-р Иван Богоров?</h2>
            <div>
                    <a href="/web/20160828081441/http://www.eg-dg-bg.com/gallery/big/9272122.jpg" align="left" rel="gal"><img src="/web/20160828081441im_/http://www.eg-dg-bg.com/gallery/big/9272122.jpg" alt="" class="img_inner fleft" width="230"></a>
                <p style="text-align:center"><strong>ИВАН БОГОРОВ</strong></p>

<p style="text-align:center"><strong>октомври 1818- 1892</strong></p>

<p style="text-align:justify"><em>Ние трябва да благодарим, че има един Богоров! Да, тогава Богоров трябваше, сега сто Богоровци трябват- те ще ни разсмиват, но ще ни стряскат ... защото всички сега ... грешим против чистотата на езика ...</em></p>

<p style="text-align:justify"><em>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Иван Вазов</em></p>

<p style="text-align:justify">&nbsp;</p>

<p style="text-align:justify"><strong>Иван Андреев Богоров</strong> - книжовник, педагог, журналист и езиковед, е от хората, в които идеите и начинанията никога не следват нормалния път на бавното отлежаване, а се развиват бурно и търсят своето незабавно практическо решение. Негова заслуга е основаването и издаването на първия български вестник, той е един от първите издатели на новобългарска граматика, първият съставител на голям двуезичен речник и сред първите автори на пътеписи в бългаската литература.</p>

<p style="text-align:justify">Роден е в Карлово, в семейство на занаятчия, където получава началното си образование. По- късно посещава Куручешменското училище в Цариград и Ришельовския лицей в Одеса (до 1843 г.). От 1845 до 1847 г. следва химия в Лайпциг. С помощта на Христо Георгиев завършва медицина в Париж (1858 г.) и се установява на практика в Цариград. По- късно учителства в България и е единственият наш представител на Славянския конгрес в Москва през 1867 г.</p>

<p style="text-align:justify">Иван Богоров има заслуга да бъде създател и редактор на първите ни вестници - „Български орел”&nbsp;(Лайпциг, 1846 -1847) и „ Цариградски вестник” (1848- 1862), с което въвежда журналистиката в живота на възрожденския българин с всички последици от това. Той е редактор на много популярното списани&nbsp;„Български книжици” (Цариград, 1858- 1861); на първото българско икономическо списание „ Журнал за наука, занаят и търговия”</p>

<p style="text-align:justify">(Пловдив- Белград, 1862 г.)</p>

<p style="text-align:justify">Нему принадлежи заслугата за първия опит да събере и издаде наши песни и пословици - „Български народни песни и пословици” (Пеща, 1842 г.). Той&nbsp; &nbsp;е съставител и на първия френско- български речник (Виена, 1871 г.).</p>

<p style="text-align:justify">През целия си живот Иван Богоров е обвиняван за своите понякога крайни увлечения към чистотата на езика, а от неговото име възниква понятието „богоровщина”- безогледно и като правило напразно усилие да премахне чуждиците. Едно от безспорните му постижения и заслуга е побългаряването на руските заемки. Днес малцина може би знаят, че десетки думи са навлезли във всекидневния ни живот благодарение на неговите усилия- бележка, вестник, връзка, загуба, околност, разноски, стопанин, чакалня, честит и др.</p>

<p style="text-align:justify">Когато не открива подходящи изразни средства в народния език, Богоров не се бои да измисля свои. Така в „Първичка българска граматика” той сътворява граматически термини, с които си служим и до днес: сричка, сегашно, минало време и др. В още по- ранен период въвежда редица думи, които заместват турската и гръцката лексика: клопка (вместо капан), гледка ( вместо сеир), напреко ( вместо кестерме) и др.</p>

<p style="text-align:justify">Но това не изчерпва заслугата му, тъй като в по- голямата си част тя е незрима. Иван Богоров полага усилия и до голяма степен успява да създаде у своите сънародници усет и съзнание за езиковата чистота и културата на речта. Равнодушието на тогавашната общественост и язвителността на интелигентските кръгове го тласкат в последните години от живота му към твърде абстрактната идея за създаване на твърде абстрактната идея за създаване на общ писмен език на всички славяни.</p>

<p style="text-align:justify">Иван Богоров е от хората, които винаги вървят крачка преди времето си. Много от неговите начинания са оценени едва от потомството. Ако трябва да резюмираме делото му, той е сред онези, които тласкат българите да вървят по- бързо, по- смело и по- радикално напред, където ги очаква бъдещето на модерна европейска нация. &nbsp;</p>

<p style="text-align:justify">&nbsp;</p>

<p style="text-align:center"><span style="font-size:20px"><strong>БОГОРОВСКИТЕ ДУМИ</strong></span></p>

<p>&nbsp;</p>

<p style="text-align:justify">Д - р Иван Богоров е сред възрожденците, които проявяват огромна грижа за българския език. Имало е нужда. В тази грижа&nbsp; нашият патрон отново проявил особена изобретателност и активност.</p>

<p style="text-align:justify">&nbsp;</p>

<p style="text-align:justify">Някои от тези думи днес звучат направо куриозно – например редилник вместо думата от руски произход правилник;&nbsp; беляз вместо герб,&nbsp; бивалица – история; гостилня- хотел; прочетник за читател; прилич – за образец, модел ;плув – вместо кораб; мини-брод&nbsp; - за днешната дума паспорт;вършатен – вместо действителен. Още съвременниците&nbsp; на Богоров са иронизирали неговите предложения като самосвет – фотография; притурко – за прилагателно; презръчница – за заведение; книжатник – за секретар; ставник – вместо елемент.</p>

<p style="text-align:justify">&nbsp;</p>

<p style="text-align:justify">Но и до ден днешен ние използваме измислените от Богоров думи –<strong>предимство, обноски, кланица, разноски , чакалня, вестник, подплата, часовник, пратеник, забележка, деен, дейност, съдейност,съдник, отговорник</strong> . В езика ни д-р Богоров е възстановил ценни народни думи като <strong>молба, загуба, печалба, почит, челяд, слог, пряпорец .</strong></p>

<p style="text-align:justify">&nbsp;</p>

<p style="text-align:justify">Ако използваме&nbsp; словотворчеството на Иван Богоров могат да се получат изречения като -&nbsp; В нашата училня има&nbsp; самосебно&nbsp; книговище, което ще рече – нашето училище има самостоятелна библиотека. Или&nbsp; редилникът в тази гостилня е прилич на тъкмост, което ще рече – правилникът в този хотел е образец на точност.</p>

<p style="text-align:justify">&nbsp;</p>

<p style="text-align:justify">Но само благодарение на д-р Богоров можем да кажем – добрите обноски са предимство; прочети си вестника в чакалнята; ти си деен отговорник, а не съдник и се стреми да правиш по-малко разноски.</p>

<p style="text-align:justify">&nbsp;</p>

<p style="text-align:justify">Съратник и последовател на д-р Иван Богоров&nbsp; е и академик Тодор Балан. Техните усилия стигат до пуризъм – т.н. краен стремеж за&nbsp; чистота на езика. Тази особеност е имал предвид&nbsp; “слънчевото дете на българската поезия” Христо Смирненски, когато пише своето&nbsp; приятелскоиронично стихотворение “Баланиани”.</p>

<p style="text-align:justify">&nbsp;</p>

<p style="text-align:justify">Гърбосложен на кревата&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Пеперудени одежди</p>

<p style="text-align:justify">Аз жадувам твоя стан&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; себеспомням си с тъга</p>

<p style="text-align:justify">И в унесница благата&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ластовичокрили вежди</p>

<p style="text-align:justify">От мечти съм пак пиян. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Пак тревожат ме сега.</p>

<p style="text-align:justify">&nbsp;</p>

<p style="text-align:justify">Себеспомням скъпи срещи&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Себеспомням лунни нощи,</p>

<p style="text-align:justify">Из Борисов дървосад,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; себеспомням всеки ден.</p>

<p style="text-align:justify">Ръкостисници горещи,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Устодопреници още</p>

<p style="text-align:justify">Отлетели без възврат&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; нощем мир не дават мен.</p>

<p style="text-align:justify">&nbsp;</p>

<p style="text-align:justify">Сърцесладките минути&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Гърбосложен на кревата</p>

<p style="text-align:justify">кат зърна на нижел скъп, &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; аз жадувам твоя стан</p>

<p style="text-align:justify">сетне ядовете люти, &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; и в унесница благата</p>

<p style="text-align:justify">сетне душетровна скръб… &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; стих въртя а ла Балан.</p>

        <br>
                        <div style="clear:both"></div>
        <div>
            <ul>
                            </ul>
        </div>
        
                <div>
            <span class="st_sharethis_large" displaytext="ShareThis" st_processed="yes"><span style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;" class="stButton"><span class="stLarge" style="background-image: url(&quot;https://web.archive.org/web/20160828081746/http://w.sharethis.com/images/sharethis_32.png&quot;);"></span></span></span>
            <span class="st_facebook_large" displaytext="Facebook" st_processed="yes"><span style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;" class="stButton"><span class="stLarge" style="background-image: url(&quot;https://web.archive.org/web/20160828081746/http://w.sharethis.com/images/facebook_32.png&quot;);"></span></span></span>
            <span class="st_twitter_large" displaytext="Tweet" st_processed="yes"><span style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;" class="stButton"><span class="stLarge" style="background-image: url(&quot;https://web.archive.org/web/20160828081746/http://w.sharethis.com/images/twitter_32.png&quot;);"></span></span></span>
            <span class="st_linkedin_large" displaytext="LinkedIn" st_processed="yes"><span style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;" class="stButton"><span class="stLarge" style="background-image: url(&quot;https://web.archive.org/web/20160828081746/http://w.sharethis.com/images/linkedin_32.png&quot;);"></span></span></span>
            <span class="st_pinterest_large" displaytext="Pinterest" st_processed="yes"><span style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;" class="stButton"><span class="stLarge" style="background-image: url(&quot;https://web.archive.org/web/20160828081746/http://w.sharethis.com/images/pinterest_32.png&quot;);"></span></span></span>
            <span class="st_email_large" displaytext="Email" st_processed="yes"><span style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;" class="stButton"><span class="stLarge" style="background-image: url(&quot;https://web.archive.org/web/20160828081746/http://w.sharethis.com/images/email_32.png&quot;);"></span></span></span>
        </div>
            </div>
    </div>