<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NetCoreMVCWebsite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NetCoreMVCWebsite.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
     <script src="https://maps.googleapis.com/maps/api/js?"></script> 
</head>
<body>
        <div class="nav-images">
            <div class="logo">
                <img src="~/MyStaticFiles/images/logo_pg_dimitrovgrad.jpg" class="img" alt="logo" />
            </div>
            <img src="~/MyStaticFiles/images/nav-gallery-1.jpg" class="img" alt="gallery" />
        </div>
        <ul class="dropdown-ul">
            <li><a  asp-area="" asp-controller="Home" asp-action="Index">Начало</a></li>
            <li class="dropdown-li">
                <a class="dropdown-li-a" asp-area="" asp-controller="Home">За нас</a>
                <ul class="dropdown">
                     <li><a  asp-area="" asp-controller="Home" asp-action="SchoolHistory"><i class="fas fa-angle-double-right fa-xs"></i> История на училището</a></li>
                     <li><a  asp-area="" asp-controller="Home" asp-action="WhoIsBogorov"><i class="fas fa-angle-double-right fa-xs"></i> Кой е д-р Иван Богоров?</a></li>
                     <li><a  asp-area="" asp-controller="Home" asp-action="SchoolCouncel"><i class="fas fa-angle-double-right fa-xs"></i> Ученически съвет</a></li>
                     <li><a  asp-area="" asp-controller="Home" asp-action="Anthem"><i class="fas fa-angle-double-right fa-xs"></i> Химн на ЕГ</a></li>
                     <li><a  asp-area="" asp-controller="Home" asp-action="Team"><i class="fas fa-angle-double-right fa-xs"></i> Колектив</a></li>
                </ul>
            </li>
            <li><a  asp-area="" asp-controller="Home" asp-action="News">Новини</a></li>
            <li><a  asp-area="" asp-controller="Home" asp-action="Newspaper">Вестник</a></li>
            <li><a  asp-area="" asp-controller="Home" asp-action="Documents">Документи</a></li>
            <li><a  asp-area="" asp-controller="Home" asp-action="Admissions">Прием</a></li>
            <li><a class="no-line-height"  asp-area="" asp-controller="Home" asp-action="ForYou">За вас<br />зрелостници</a></li>
            <li><a  asp-area="" asp-controller="Home" asp-action="Projects">Проекти</a></li>
            <li><a  class="no-line-height" asp-area="" asp-controller="Home" asp-action="Materials">Материали<br />за ученици</a></li>
            <li><a  asp-area="" asp-controller="Home" asp-action="Gallery">Галерия</a></li>
            <li><a  asp-area="" asp-controller="Home" asp-action="Contacts">Контакти</a></li>          
    </ul>
    <div class="container">
        <partial name="_SideMenuPartial" />
        
        <main role="main" class="main">
            @RenderBody()
        </main>
    </div>

    <div class="footer-personal">
        <div class="container">
            изработен от <a href="" target="_blank"> WEB DEVS</a>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
