@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul>
@if (SignInManager.IsSignedIn(User))
{
    <li class="links">
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Здравей, @User.Identity?.Name!</a>
    </li>
    <li class="links">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="links">Изход</button>
        </form>
    </li>
}
else
{
    <li class="links">
        <a asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
    </li>
    <li class="links">
        <a asp-area="Identity" asp-page="/Account/Login">Вход</a>
    </li>
}
</ul>
